#slideshow {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 500px;
    height: 450px;
    border: 2px solid #000;

    position: relative;
}
.slides {

    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;

    /* dev */
    border: 2px solid red;
}
h2 {
    font-size: 2rem;
    letter-spacing: 0.3rem;
    text-transform: capitalize;
    text-decoration: underline;
}


