@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

/* global reset */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* global variables */
:root {
    /* spacing */
    --sm: 2%;
    --md: 5%;
    --lg: 10%;

    /* dev borders */
    --wireframe: 2px solid darkblue;
    --debugging: 2px dotted darkred;
    --component: 2px solid darkgreen;

    /* font style */
    --font: 'Poppins', sans-serif;

    /* light mode | darkmode */
    --mode: #000;
    --mode-background: #FFF;
    --mode-overlay: rgba(241,237,237,0.4);
    --mode-transparent: rgba(0,0,0,0.19);
    /* --mode-transparent: rgba(255, 255, 255, 0.19); */
}


/*  
    header component
    
    parralax properties
        background image layer - fixed
        forgrounds image layed - sticky

*/
header {
    /* min height [ 100% ] */
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

    /* dev */
    border: var(--wireframe);
}



section {
    /* min height [ 100% ] */
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

    /* dev */
    border: var(--wireframe);
}

main {
    /* min height [ 100% ] */
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

    /* dev */
    border: var(--wireframe);
}

/* developer removal */
/* main, section, footer {display: none;} */

footer {

    /* min height [ 50% ] */
    min-height: 50vh;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

    background: #000;
    color: #FFF;
    /* dev */
    border: var(--wireframe);

    font-family: var(--font);
}
footer h5 {

    font-size: 1.65rem;
    text-transform: uppercase;

    letter-spacing: 0.25rem;
    /* dev */
    border: var(--component);
}
footer h6 {
    font-size: 1.45rem;
    text-align: center;
    
    /* dev */
    border: var(--component);
}
footer p {
    font-size: 0.95rem;
    display: flex;
    flex-direction: column;
    text-align: center;
    /* dev */
    border: var(--component);
}
footer p span {

    font-size: 1.25rem;
    text-transform: capitalize;
    letter-spacing: 0.18rem;
    
    /* dev */
    border: var(--wireframe);
}