@import url("https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@300&family=Staatliches&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Kanit:wght@300&family=Teko:wght@300&display=swap");
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  --font-titles: "Staatliches", cursive;
  --font-text: "Open Sans Condensed", sans-serif;
  --font-alt: "Teko", sans-serif;
  --dark-main: rgb(22, 20, 24);
  --dark-text: #FFF;
  --dark-title: ;
  --light-main: #FFF;
  --light-text: #000;
  --light-title: ;
}

html {
  scroll-behavior: smooth;
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-alt);
}

.btn {
  margin-top: 25px;
  border-radius: 20px;
  padding: 10px;
  width: 120px;
  height: 40px;
  font-size: 0.95rem;
  text-transform: capitalize;
  font-weight: bold;
  background: #5142de;
  background: linear-gradient(111deg, #5142de 0%, #8f2d9e 100%);
  background: #6abbf4;
  background: linear-gradient(111deg, #6abbf4 0%, #47cdb7 100%);
  background: #0c398b;
  background: linear-gradient(111deg, #0c398b 0%, #26b3c3 100%);
  border: none;
  color: #FFF;
}

.page {
  height: 100%;
  width: 100%;
  height: 100vh;
  padding: 10px;
  background: darkslategray;
  position: relative;
  z-index: 1;
  overflow: scroll;
}
.page nav, .page header, .page section, .page main, .page article, .page footer {
  background: var(--light-main);
}
.page main a {
  color: var(--dark-text);
  border: 1px solid darkslategray;
}
.page header a {
  color: var(--dark-text);
}
.page article .elmnts {
  border: 2px solid var(--light-text);
}
.page .title, .page .tagline, .page .list-title, .page li {
  color: var(--light-text);
}
.page aside a {
  color: var(--light-text);
}

nav, header, main, article, section, footer {
  background: #FFF;
  margin-bottom: 10px;
}

.darkmode nav, .darkmode aside, .darkmode header, .darkmode section, .darkmode main, .darkmode article, .darkmode footer {
  background: var(--dark-main);
}
.darkmode .title, .darkmode .tagline, .darkmode .list-title, .darkmode .text, .darkmode a, .darkmode i, .darkmode li, .darkmode label {
  color: var(--dark-text);
}
.darkmode article i,
.darkmode aside i {
  color: #0c398b;
}
.darkmode aside .btn i {
  color: var(--dark-text);
}
.darkmode input, .darkmode textarea {
  background: #456c9e;
  color: var(--dark-text);
}
.darkmode article .elmnts {
  border: 2px solid var(--dark-text);
}
.darkmode .title, .darkmode .tagline, .darkmode .list-title, .darkmode li {
  color: var(--dark-text);
}
.darkmode aside a {
  color: var(--dark-text);
}

nav {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  max-width: 100%;
  height: 10vh;
  padding: 10px;
  z-index: 3;
  overflow: hidden;
  background: transparent;
  padding: 10px;
}
nav .btn {
  position: fixed;
  top: 20px;
  right: 20px;
  width: 50px;
  background: none;
  margin-top: 0;
  margin-bottom: 0;
  margin-right: 25px;
  z-index: 999;
}
nav i {
  font-size: 1.35rem;
  color: #000;
}

aside {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  transition: all 200ms ease;
  background: #FFF;
  z-index: 2;
}
aside .btn {
  position: relative;
}
aside .elmnts {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding-left: 25px;
  height: 100%;
  width: 100%;
}
aside .elmnts:nth-child(1) {
  margin-top: 10vh;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: center;
  padding-left: 0;
}
aside .sub-elmnts {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}
aside .sub-elmnts:nth-child(2) {
  align-items: flex-start;
  padding-left: 25px;
}
aside .title {
  font-size: 1.5rem;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
}
aside .tagline {
  text-transform: capitalize;
  text-decoration: underline;
  letter-spacing: 0.1rem;
  font-size: 0.85rem;
}
aside .list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 25px;
}
aside .list i {
  margin-right: 15px;
  color: #5142de;
  color: #0c398b;
}
aside .items {
  list-style-type: none;
  margin-bottom: 25px;
  font-family: var(--font-text);
}
aside .items:nth-child(1) {
  margin-top: 25px;
}
aside a {
  font-size: 1.15rem;
  text-transform: capitalize;
  text-decoration: none;
  color: #FFF;
}
aside .img {
  border: none;
  height: 100px;
  width: 100px;
  border-radius: 50%;
}

header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  height: 100vh;
  width: 100%;
  padding: 10px;
  text-transform: capitalize;
  z-index: 1;
}
header .title {
  font-size: 2.75rem;
}
header .tagline {
  color: #838282;
  text-decoration: underline;
  font-size: 1.35rem;
  letter-spacing: 0.1rem;
}
header a {
  color: #FFF;
  text-decoration: none;
}
header .btn {
  font-size: 0.75rem;
  margin-left: 0;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  width: 100%;
  background: #FFF;
  margin-bottom: 10px;
}
main .elmnts {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  padding: 10px;
}
main .elmnts:nth-child(1) {
  align-items: flex-start;
  padding-left: 25px;
}
main .elmnts:last-child {
  justify-content: center;
  align-items: flex-start;
}
main .list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-auto-rows: minmax(50px, auto);
  gap: 10px;
  padding: 10px;
  width: 100%;
}
main .list .container {
  grid-column: span 2;
  grid-template-columns: repeat(2, 1fr);
  grid-auto-rows: minmax(50px, auto);
  gap: 10px;
  width: 100%;
}
main .items {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  grid-row: span 2;
  min-height: 175px;
  position: relative;
}
main .items .btn {
  background: transparent;
  color: #000;
  border: 2px solid #000;
}
main .items a {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  letter-spacing: 1px;
  font-size: 1.25rem;
  text-decoration: underline;
  text-transform: uppercase;
  height: 100%;
  width: 100%;
  font-family: var(--font-text);
}
main .title {
  font-size: 2.2rem;
  text-transform: capitalize;
  margin-bottom: 20px;
}
main .btn {
  margin-top: 0;
}
main a {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.4);
  border-radius: 10px;
  border: none;
  color: #FFF;
}
main .img {
  height: 100%;
  width: 100%;
  border-radius: 10px;
  border: none;
}

#projects .items {
  grid-column: span 2;
  grid-row: span 2;
  display: flex;
  align-items: flex-start;
}
#projects .project-tagline {
  font-size: 0.95rem;
  text-decoration: underline;
  color: #838282;
  margin-top: 25px;
}
#projects .project-title {
  font-size: 1.85rem;
  margin-bottom: 25px;
}
#projects .text {
  font-size: 0.75rem;
  margin-bottom: 25px;
}
#projects .btn {
  margin-bottom: 25px;
}

#projects-header {
  max-height: 50vh;
}

article {
  display: flex;
  flex-direction: column;
  min-height: 50vh;
  width: 100%;
  padding: 10px;
  background: #FFF;
  margin-bottom: 10px;
}
article .elmnts {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  text-align: left;
  margin-top: 25px;
  height: 100%;
  width: 100%;
}
article .elmnts:nth-child(1) {
  border: none;
}
article .list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-evenly;
  min-height: 300px;
  width: 100%;
  padding-left: 50px;
}
article .items {
  width: 100%;
  list-style-type: none;
  text-transform: capitalize;
  letter-spacing: 0.5px;
  font-family: var(--font-text);
}
article i {
  margin-right: 10px;
  font-size: 1.2rem;
  color: #5142de;
  color: #0c398b;
}
article .title {
  font-size: 2.24rem;
  text-transform: capitalize;
  margin-top: 25px;
}
article .list-title {
  padding-left: 25px;
  padding-top: 25px;
  font-size: 1.45rem;
  text-transform: capitalize;
  letter-spacing: 0.1rem;
  text-decoration: underline;
}
article .line {
  margin-top: 10px;
  height: 4px;
  width: 100%;
  background: #000;
  background: #5142de;
  background: linear-gradient(111deg, #5142de 0%, #8f2d9e 100%);
  background: #0c398b;
  background: linear-gradient(111deg, #0c398b 0%, #26b3c3 100%);
  max-width: 175px;
}

section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  height: 100vh;
  width: 100%;
  position: relative;
  padding: 10px;
}
section .title {
  font-size: 2.2rem;
  text-transform: capitalize;
  margin-bottom: 25px;
  margin-top: 25px;
}
section .text {
  color: #838282;
  font-size: 1.1rem;
  line-height: 1.6;
  padding-right: 50px;
  margin-bottom: 20px;
  font-family: var(--font-text);
}
section .img {
  height: 150px;
  width: 150px;
  border: var(--debugging);
}
section .btn {
  margin-top: 25px;
}
section a {
  color: #FFF;
}

footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 10px;
}
footer .elmnts {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  height: 100%;
  width: 100%;
  margin-left: 25px;
}
footer .elmnts:nth-child(1) {
  margin-top: 50px;
}
footer .elmnts:nth-child(2) {
  align-items: flex-start;
}
footer form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-bottom: 25px;
  margin-left: 25px;
}
footer .control {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
}
footer label {
  font-size: 1.05rem;
  margin-top: 25px;
  margin-bottom: 5px;
  text-transform: capitalize;
  letter-spacing: 0.1rem;
  font-family: var(--font-text);
}
footer input {
  border-radius: 10px;
  min-height: 40px;
  border: 1px solid #525252;
  max-width: 220px;
  width: 100%;
}
footer textarea {
  min-height: 125px;
  border-radius: 10px;
  border: 1px solid #525252;
  max-width: 220px;
  width: 100%;
}
footer .title {
  font-size: 2.2rem;
  text-transform: capitalize;
  letter-spacing: 0.1rem;
  margin-bottom: 25px;
  margin-top: 25px;
}
footer .text {
  color: #838282;
  font-size: 1.1rem;
  line-height: 1.6;
  padding-right: 50px;
  margin-bottom: 20px;
  font-family: var(--font-text);
}
footer .img {
  height: 150px;
  width: 150px;
  border: var(--debugging);
}

.profile {
  height: 100%;
  width: 100%;
  position: relative;
}

#profile-wrp {
  z-index: 2;
  position: absolute;
  top: 50%;
  left: -25%;
  border: 2px solid red;
}

.profile-img {
  transform: translate(50%, -50%);
  font-size: 5rem;
  z-index: 1;
  animation-name: spin;
  animation-duration: 4.5s;
  animation-iteration-count: infinite;
}

aside .profile {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

aside .profile-img {
  transform: translate(10%);
  border: 2px solid red;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.menu {
  display: none;
}

@media (min-width: 768px) {
  aside {
    height: 90vh;
    margin-top: 10vh;
  }

  header {
    height: 100vh;
  }

  section {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: minmax(50px, auto);
  }
  section .profile {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    border: 2px solid red;
  }
  section .title {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
    border: 2px solid darkblue;
  }
  section .text {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;
    border: 2px solid red;
  }
  section .btn {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 3;
    grid-row-end: 4;
    border: 2px solid orange;
  }

  main {
    gap: 20px;
    border: var(--wireframe);
  }
  main .items {
    grid-row: span 4;
  }

  article {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 10px;
  }
  article .elmnts {
    margin: 0 10px 0;
    align-items: flex-start;
    justify-content: center;
    border: 2px solid #000;
  }
  article .elmnts:nth-child(1) {
    margin-bottom: 0;
  }
  article .list {
    display: flex;
    align-items: flex-start;
    padding-left: 0px;
    height: 350px;
    width: 100%;
  }
  article .items {
    padding-left: 50px;
    font-size: 1.1rem;
    text-transform: capitalize;
    list-style-type: none;
    width: 100%;
    padding-right: 50px;
    color: #838282;
  }
  article .list-title {
    margin-top: 25px;
  }

  section {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: center;
    max-height: 50vh;
    border: var(--wireframe);
  }
  section .elmnts {
    height: 100%;
    width: 100%;
    min-height: 100%;
    align-items: center;
    padding-left: 0;
  }
  section .elmnts:nth-child(1) {
    margin-right: 10px;
  }
  section .elmnts:nth-child(2) {
    align-items: flex-start;
    margin-left: 25px;
  }
  section .text {
    padding-right: 10px;
  }
  section .img {
    min-height: 200px;
  }

  footer {
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    min-height: 50vh;
    border: 2px solid darkblue;
  }
  footer .elmnts {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 0;
    margin: 0 10px 0;
  }
  footer .elmnts:nth-child(1) {
    align-items: flex-start;
    margin-top: 0;
  }
  footer .elmnts:nth-child(1) {
    margin-left: 25px;
  }
  footer form {
    width: 340px;
    height: 450px;
    width: 100%;
    border: 2px solid #000;
    margin-top: 25px;
    margin-bottom: 25px;
    margin-left: 0;
  }
  footer .control {
    padding-left: 25px;
  }
  footer input {
    width: 100%;
    max-width: 90%;
  }
  footer textarea {
    width: 100%;
    max-width: 90%;
  }
  footer .text {
    margin-bottom: 0;
    padding-right: 0;
    padding-right: 15px;
  }
}
@media (min-width: 900px) {
  nav, header, main, article, section, footer {
    background: #FFF;
    margin-bottom: 25vh;
  }

  nav {
    position: fixed;
    top: 10px;
    left: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 200px;
    height: 525px;
    border: 1px solid #000;
  }
  nav .menu {
    display: flex;
    flex-direction: column;
  }
  nav #menu {
    display: none;
  }
  nav .profile {
    padding-left: 25px;
  }
  nav .img {
    height: 75px;
    width: 75px;
    border-radius: 50%;
    border: 1px solid #000;
  }
  nav .title {
    font-size: 1.25rem;
    text-transform: capitalize;
    margin-top: 25px;
  }
  nav .tagline {
    font-size: 0.95rem;
    text-transform: capitalize;
  }
  nav .list {
    min-height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin-top: 25px;
    margin-bottom: 25px;
    padding-left: 25px;
  }
  nav .items {
    list-style-type: none;
    margin-bottom: 10px;
  }
  nav a {
    font-size: 1rem;
    text-decoration: none;
    color: #000;
  }
  nav a.active {
    font-weight: bold;
  }
  nav a.active {
    list-style-type: square;
  }
  nav .btn {
    margin-left: 15px;
  }

  .page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  header,
section,
main,
article,
footer {
    max-width: 1100px;
  }

  header, section, article, main, footer {
    min-height: 100vh;
  }

  footer .elmnts {
    border: 2px solid red;
  }
}

/*# sourceMappingURL=index.css.map */
