@import url("https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@300&family=Staatliches&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Kanit:wght@300&family=Teko:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Assistant:wght@700&family=Dosis:wght@300&family=Mukta&display=swap");
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  --font-staat: "Staatliches", cursive;
  --font-teko: "Teko", sans-serif;
  --font-condensed: "Open Sans Condensed", sans-serif;
  --font-mukta: "Mukta", sans-serif;
  --font-dosis: "Dosis", sans-serif;
  --font-assistant: "Assistant", sans-serif;
  --dark-main: rgb(13, 9, 17);
  --dark-text: #FFF;
  --light-main: #FFF;
  --light-text: #000;
  --darkgrey: rgb(36, 34, 34);
  --lightgrey: rgb(156, 154, 154);
  --darkblue: rgb(12,57,139);
  --lightblue: rgb(89, 139, 214);
}

/*
    global CSS

    html : control scroll behaviour

    headings : set specific heading attributes

    text : set content text attributes



*/
html {
  scroll-behavior: smooth;
}

h1 {
  font-size: 2.5rem;
  text-transform: capitalize;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  margin-bottom: 20px;
  line-height: 1;
  padding-left: 25px;
}

h2 {
  font-size: 1.85rem;
  text-transform: capitalize;
  letter-spacing: 0.1rem;
  margin-bottom: 25px;
  margin-top: 25px;
}

h3 {
  font-size: 1.5rem;
}

h4 {
  padding-top: 25px;
  padding-left: 10px;
  padding-bottom: 25px;
  text-transform: capitalize;
  letter-spacing: 1px;
  text-decoration: underline;
  font-size: 1.25rem;
  font-family: var(--font-staat);
}

h6 {
  font-size: 1rem;
  text-transform: capitalize;
  margin-left: 25px;
  letter-spacing: 0.1rem;
  border-bottom: 2px solid var(--darkblue);
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-assistant);
  color: #FFF;
}

.text {
  border-left: 4px solid var(--lightblue);
  color: var(--lightgrey);
  font-family: var(--font-dosis);
  font-size: 1.1rem;
  line-height: 1.6;
  margin-top: 25px;
  margin-bottom: 25px;
  padding-right: 50px;
  padding-left: 5px;
}

.lighter {
  font-weight: bold;
  color: #FFF;
}

.page {
  height: 100%;
  width: 100%;
  height: 100vh;
  position: relative;
  z-index: 1;
  overflow: scroll;
  background: var(--dark-main);
}

/*
    header [ header ] component

    contains
    - div [ profile ]
        - img [ img ]    
    - button [ menu ]
        - i [ icon ]
*/
header {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  height: 10vh;
  width: 100%;
  z-index: 4;
  background: var(--dark-main);
}
header .btn {
  margin: 0;
  background: none;
  border: none;
  height: 50px;
  width: 50px;
}
header .btn i {
  font-size: 1.15rem;
  color: #FFF;
}
header .profile {
  position: relative;
}
header .profile .img {
  animation-name: spin;
  animation-duration: 4.5s;
  animation-iteration-count: infinite;
  border: none;
  border-radius: 50%;
  height: 45px;
  width: 45px;
  transform: translate(10%);
  z-index: 1;
}

/*

    navigation [ nav ] component

    contains
        - div [ profile ]
        - h5 [ title ]
        - h6 [ tagline ]
        - ul [ list ]
            - li [ items ]
            - a [ links ]

        - button [ btn ]

*/
nav {
  background: var(--dark-main);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  position: fixed;
  top: 10vh;
  left: 0;
  width: 100%;
  height: 90vh;
  overflow: hidden;
  transition: all 200ms ease;
  z-index: 2;
  border: 2px solid orange;
}
nav article {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  height: 100%;
  overflow: hidden;
  border: 2px solid white;
}
nav .title {
  margin: 0;
  padding: 0;
  margin-left: 25px;
  margin-top: 10px;
  margin-bottom: 5px;
  padding-left: 5px;
  border-left: 4px solid #FFF;
}
nav .list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  height: 300px;
  width: 100%;
  padding-left: 20%;
}
nav .list i {
  margin-left: 15px;
  margin-right: 15px;
  color: var(--darkblue);
}
nav .items {
  list-style-type: none;
  margin-bottom: 10px;
  margin-right: 15px;
  padding: 5px;
}
nav i {
  color: var(--lightblue);
  padding-right: 5px;
  font-size: 1.45rem;
}
nav a {
  color: #FFF;
  color: var(--light-main);
  font-size: 1.25rem;
  font-family: var(--font-dosis);
  text-transform: capitalize;
  text-decoration: none;
}
nav .buttons {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  margin-top: 50px;
}
nav .btn {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background: var(--darkgrey);
  border: none;
  border-radius: 8px;
  width: 100px;
  height: 40px;
}
nav .btn a {
  font-family: var(--font-staat);
  font-size: 0.85rem;
}

/*
     section [ wrapper ] component

     landing page element

     contains 

        - article [ content ]
        - button [ btn ]
        - p [ text 

*/
section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 100vh;
  margin-top: 10vh;
  padding: 10px;
  position: relative;
  border: 2px solid orange;
}
section article {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  height: 100%;
  width: 100%;
  padding: 10px;
  border: 2px solid white;
}
section .text {
  margin-left: 25px;
  color: var(--lightgrey);
  text-transform: capitalize;
}

#landing {
  height: 100%;
}
#landing .tagline {
  font-size: 0.85rem;
  text-transform: capitalize;
  color: var(--lightblue);
  margin-bottom: 15px;
  padding-left: 25px;
}
#landing .img {
  height: 120px;
  width: 120px;
}
#landing .container {
  margin-left: 25px;
  margin-bottom: 25px;
  height: 125px;
  max-width: 125px;
  width: 100%;
  position: relative;
}
#landing .container .profile {
  position: relative;
  height: 100%;
  width: 100%;
  animation: spin;
  animation-iteration-count: infinite;
  animation-duration: 12s;
}
#landing .container .profile-img {
  border-radius: 50%;
  position: absolute;
  z-index: 2;
}
#landing .container .profile-item {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  height: 75px;
  width: 75px;
  z-index: 1;
}

#introduction {
  height: 100%;
}
#introduction .text-sml {
  color: var(--lightgrey);
  color: #FFF;
  font-size: 0.85rem;
  text-transform: capitalize;
  font-family: var(--font-dosis);
}
#introduction .text-sml i {
  margin-right: 10px;
  margin-bottom: 10px;
  font-size: 0.95rem;
}
#introduction .text-sml i:nth-child(1) {
  margin-top: 10px;
}

#technical .list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  min-height: 300px;
  padding: 10px;
  width: 100%;
}
#technical .list:nth-child(3) .items {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
}
#technical .items {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  height: 40px;
  width: 100%;
  padding-left: 25px;
  color: var(--lightgrey);
  font-family: var(--font-text);
  letter-spacing: 0.5px;
  list-style-type: none;
  text-transform: capitalize;
  margin-bottom: 10px;
  font-family: var(--font-dosis);
}
#technical i {
  color: #0c398b;
  font-size: 1.2rem;
  margin-right: 10px;
}
#technical .line {
  margin-top: 10px;
  height: 4px;
  width: 100%;
  max-width: 175px;
  background: #0c398b;
  background: linear-gradient(111deg, #0c398b 0%, #26b3c3 100%);
}

/*
    main [ portfolio ] component

    contains
        - ul [ list ]
            - li [ items ]    
                - img [ project - image ]
                - h3 [ project - title ]
                - ul [ sublist ]
                    - li [ subitems ]
                    - span [ clr ]
                    - p [ tech ]
                - h6 [ project - tagline ]
                - p [ text ]
                - button [ btn ]
*/
main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
  padding: 10px;
  position: relative;
}
main .title {
  font-size: 2.2rem;
  text-transform: capitalize;
  padding-top: 25px;
  margin-bottom: 0;
}
main .list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
  position: relative;
}
main .items {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  border-radius: 10px;
  padding: 10px;
  position: relative;
  z-index: 1;
  background: #222727;
  margin-bottom: 10vh;
}
main .project-image {
  background-attachment: fixed;
  border-radius: 10px 10px 0px 0px;
  position: absolute;
  top: 0;
  left: 0;
  height: 195px;
  width: 100%;
  max-width: 100%;
  opacity: 0.75;
  z-index: 2;
}
main .project-title {
  color: #FFF;
  border: 2px solid #fff;
  font-size: 2.5rem;
  letter-spacing: 0.1rem;
  margin-top: 200px;
  margin-bottom: 10px;
  margin-left: 10px;
  padding: 0px 5px;
  text-shadow: 3px 1px #0c398b;
  text-transform: uppercase;
  z-index: 3;
}
main .project-tagline {
  font-size: 1.35rem;
  text-transform: capitalize;
  font-style: italic;
  padding: 10px;
  font-weight: bold;
  color: #FFF;
}
main .sublist {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding-bottom: 20px;
  height: 100%;
  width: 100%;
  border-bottom: 1px solid #FFF;
  margin-bottom: 10px;
}
main .subitems {
  text-align: center;
  display: flex;
  justify-content: space-around;
  align-items: center;
  max-width: 33.33%;
  min-width: 33.33%;
  width: 100%;
  height: 35px;
}
main .sublist span {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px 10px;
  min-width: 80%;
  border-radius: 5px;
  font-family: var(--font-text);
}
main .tech {
  font-size: 0.85rem;
}
main .subitems i {
  padding-right: 10px;
  font-size: 1.25rem;
}
main .text {
  color: #FFF;
  font-size: 1rem;
  line-height: 1.5;
  font-family: var(--font-text);
  margin-left: 5%;
  padding-left: 10px;
  padding-right: 10%;
  z-index: 3;
  border-left: 4px solid #FFF;
}
main .btn {
  margin: 0;
  margin-top: 25px;
  margin-bottom: 25px;
  margin-left: 10px;
  border-radius: 0;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 0.7rem;
}
/*

    footer [ footer ] component

    contant form wrapper

    contains 

        - h2 [ title ]
        - p [ text ]
        - form [ form ]

*/
footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  margin-top: 10vh;
  height: 100vh;
  min-height: 100vh;
  padding: 10px;
  position: relative;
  border: 2px solid orange;
}
footer article {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  height: 100%;
  width: 100%;
  padding: 10px;
  border: 2px solid white;
}
footer .text {
  margin-left: 25px;
  margin-bottom: 50px;
  margin-top: 50px;
}
footer .buttons {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  margin-bottom: 25px;
}
footer .buttons .btn {
  border: 1px solid #FFF;
  border-radius: 10px;
  background: var(--lightblue);
  color: #FFF;
  height: 40px;
  width: 150px;
  font-size: 0.85rem;
  text-transform: capitalize;
  font-weight: bold;
  letter-spacing: 0.15rem;
  font-family: var(--font-dosis);
}
footer .list {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 0;
  margin: 0;
  width: 100%;
  margin-top: 25px;
}
footer .list .items {
  display: flex;
  justify-content: center;
  justify-content: center;
  width: 80%;
}
footer .list .btn {
  margin: 0;
  padding: 0;
  background: #242222;
  border: none;
  border-radius: 8px;
  color: #FFF;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  height: 40px;
  width: 90%;
  padding: 0px 4px;
}
footer .list .btn a {
  text-decoration: none;
  color: #FFF;
  text-transform: capitalize;
  font-size: 0.9rem;
  font-family: var(--font-staat);
}
footer .list .btn i {
  margin: 0;
  padding: 0;
  padding-right: 5px;
  font-size: 1.2rem;
  color: var(--lightblue);
}

.clr-html {
  background: #352310;
  color: #c93510;
}

.clr-html i {
  color: #c93510;
}

.clr-sass {
  background: #662441;
  color: #d31e6c;
}

.clr-sass i {
  color: #d31e6c;
}

.clr-javascript {
  background: #979436;
  color: #c8d111;
}

.clr-javascript i {
  color: #c8d111;
}

.clr-vue {
  background: #088555;
  color: #052713;
}

.clr-vue i {
  color: #052713;
}

.clr-css {
  background: #7a3f97;
  color: #1f042c;
}

.clr-css i {
  color: #1f042c;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.menu {
  display: none;
}

@media (min-width: 768px) {
  article {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: minmax(100px, auto);
    gap: 10px;
    padding: 10px;
    align-content: center;
  }
  article .title {
    grid-column: span 3;
    grid-row: span 1;
    padding-left: 25px;
    border: var(--wireframe);
  }
  article .list {
    grid-column: span 2;
    grid-row: span 2;
    min-height: 450px;
    border: var(--wireframe);
  }
  article .items {
    padding-left: 50px;
  }
  article .list-title {
    padding-left: 50px;
  }

  footer {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: minmax(100px, auto);
    gap: 10px;
    padding: 10px;
    height: 100vh;
    align-content: center;
  }
  footer .title {
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 1;
    grid-row-end: 2;
    padding-left: 25px;
  }
  footer .text {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 4;
    padding-left: 25px;
    margin-bottom: 0;
    padding-right: 0;
    padding-right: 15px;
  }
  footer form {
    grid-column-start: 3;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 4;
    width: 340px;
    height: 450px;
    width: 100%;
    border: 2px solid #000;
    margin-top: 25px;
    margin-bottom: 25px;
    margin-left: 0;
  }
  footer .control {
    padding-left: 25px;
  }
  footer input {
    width: 100%;
    max-width: 90%;
  }
  footer textarea {
    width: 100%;
    max-width: 90%;
  }
}
nav {
  display: flex;
}

/*
    media query [ laptop & desktop ] 

    device width : 900px +

*/
@media (min-width: 900px) {
  .page {
    height: 100%;
    width: 100%;
    border: 2px solid red;
  }

  header, main, article, section, footer {
    height: 100vh;
    margin: 0;
    border: 2px solid darkblue;
  }

  nav {
    display: none;
  }

  aside {
    position: fixed;
    top: 50%;
    left: 0;
    transform: translate(0%, -50%);
    height: 100%;
    z-index: 100;
    width: 20vh;
    margin-top: 0;
    max-height: 750px;
    display: grid;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 20vw;
    border: 2px solid red;
  }
  aside .menu {
    display: flex;
    flex-direction: column;
  }
  aside #menu {
    display: none;
  }
  aside .profile {
    padding-left: 25px;
  }
  aside .img {
    height: 75px;
    width: 75px;
    border-radius: 50%;
    border: 1px solid #000;
  }
  aside .title {
    font-size: 1.25rem;
    text-transform: capitalize;
    margin-top: 25px;
  }
  aside .tagline {
    font-size: 0.95rem;
    text-transform: capitalize;
  }
  aside .list {
    min-height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin-top: 25px;
    margin-bottom: 25px;
    padding-left: 25px;
  }
  aside .items {
    list-style-type: none;
    margin-bottom: 10px;
  }
  aside a {
    font-size: 1rem;
    text-decoration: none;
    color: #000;
  }
  aside a.active {
    font-weight: bold;
  }
  aside a.active {
    list-style-type: square;
  }
  aside .btn {
    margin-left: 15px;
  }

  .page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 50px;
  }

  header,
section,
main,
article,
footer {
    max-width: 1100px;
    width: 100%;
    margin-left: 20vw;
    min-height: 100vh;
  }
}

/*# sourceMappingURL=index.css.map */
