@import url('https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@300&family=Staatliches&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@300&family=Teko:wght@300&display=swap');
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

:root {

    // --wireframe: 2px solid darkblue;
    // --debugging: 2px solid darkred;

    // css rules [ fonts
    --font-titles: 'Staatliches', cursive;
    --font-text: 'Open Sans Condensed', sans-serif;

    --font-alt: 'Teko', sans-serif;
    

    // dark-mode
    --dark-main: rgb(22, 20, 24);
    --dark-text: #FFF;
    --dark-title: ;

    // light-mode
    --light-main: #FFF;
    --light-text: #000;
    --light-title: ;


    
    
}
html {
    scroll-behavior: smooth;
}



// global CSS

h1,h2,h3,h4,h5,h6 {font-family: var(--font-alt);}

// colored background button
.btn {
    margin-top: 25px;
    border-radius: 20px;
    padding: 10px;
    width: 120px;
    height: 40px;
    font-size: 0.95rem;
    text-transform: capitalize;
    font-weight: bold;
    
    // purple / pink
    background: rgb(81,66,222);
    background: linear-gradient(111deg, rgba(81,66,222,1) 0%, rgba(143,45,158,1) 100%);

    // light blue / awua
    background: rgb(106,187,244);
    background: linear-gradient(111deg, rgba(106,187,244,1) 0%, rgba(71,205,183,1) 100%);

    // light blue / dark blue
    background: rgb(12,57,139);
    background: linear-gradient(111deg, rgba(12,57,139,1) 0%, rgba(38,179,195,1) 100%);

    border: none;

    color: #FFF;
}


// wrapper [ page ]
.page {
    height: 100%;
    width: 100%;
    height: 100vh;
    padding: 10px;
    background: darkslategray;
    position: relative;
    z-index: 1;
    overflow: scroll;


    // lightmode attributtes
    nav, header, section, main, article, footer {
        background: var(--light-main);
    }

    

    // main props
    
    main a {
        color: var(--dark-text);
        border: 1px solid darkslategray;
    }
    // header props
    header a {
        color: var(--dark-text);
        
    }

    // article props
    article .elmnts {
        border: 2px solid var(--light-text);
    }
    
    // title, tagline & text props
    .title, .tagline, .list-title, li {
        color: var(--light-text)
    }

    // link props
    aside a {
        color: var(--light-text);
    }

}
// global componet styles
nav, header, main, article, section, footer {
    // dev
    background: #FFF;
    margin-bottom: 10px;
}
// darktmode attributtes
.darkmode {

    // semantic wrapper elements
    nav, aside, header, section, main, article, footer {
        background: var(--dark-main);
    }

    // content elements
    .title, .tagline, .list-title, .text, a, i, li, label {
        color: var(--dark-text);
    }

    article i,
    aside i {
        // color: #5142de;
        color: rgb(12,57,139);
    }
    
    aside .btn i {
        color: var(--dark-text);
    }

    // form elements
    input, textarea {
        background: rgb(69, 108, 158);
        color: var(--dark-text);
    }

    article .elmnts {
        border: 2px solid var(--dark-text);
    }

    // title, tagline & text props
    .title, .tagline, .list-title, li {
        color: var(--dark-text)
    }

    // link props
    aside a {
        color: var(--dark-text);
    }

}

// navigation [ nav ]
nav {

    display: flex;
    justify-content: flex-end;
    align-items: center;

    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    max-width: 100%;
    height: 10vh;

    padding: 10px;
    
    z-index: 3;
    overflow: hidden;

    // dev [ change to ( CLR ) variable
    background: transparent;
    padding: 10px;

    
    
    // nav button [ menu ]
    .btn {
        position: fixed;
        top: 20px;
        right: 20px;
        width: 50px;
        background: none;
        margin-top: 0;
        margin-bottom: 0;
        margin-right: 25px;

        z-index: 999;

    }
    // nav button icon [ i ]
    i {
        font-size: 1.35rem;
        color: #000;
    }

}
// aside [ navigation ] : hidden element ( mobile )
aside {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;

    display: flex;
    flex-direction: column;
    overflow: hidden;
    transition: all 200ms ease;
    background: #FFF;
    z-index: 2;

    .btn {
        position: relative;
    }

    // aside layout [ elmnts ]
    .elmnts {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        padding-left: 25px;
        height: 100%;
        width: 100%;
    }
    .elmnts:nth-child(1) {
        margin-top: 10vh;
        flex-direction: row-reverse;
        align-items: center;
        justify-content: center;
        padding-left: 0;
        
    }
    // elmnts layout [ sub-elmnts ]
    .sub-elmnts {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100%;
        width: 100%;
    }
    .sub-elmnts:nth-child(2) {
        align-items: flex-start;
        padding-left: 25px;
    }

    .title {
        font-size: 1.5rem;
        text-transform: uppercase;
        letter-spacing: 0.1rem;
    }
    .tagline {
        text-transform: capitalize;
        text-decoration: underline;
        letter-spacing: 0.1rem;
        font-size: 0.85rem;
    }

    // aside ul [ list ]
    .list {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-left: 25px;
        
        i {
            margin-right: 15px;
            color: #5142de;
            color: rgb(12,57,139);
        }
    }
    // aside ul li [ items ]
    .items {
        list-style-type: none;
        margin-bottom: 25px;
        font-family: var(--font-text);
    }
    .items:nth-child(1) {
        margin-top: 25px;
    }
    a {
        font-size: 1.15rem;
        text-transform: capitalize;
        text-decoration: none;
        
        // dev : change to ( CLR ) variable
        color: #FFF;
    }
    .img {
        // border: 2px solid darkblue;
        border: none;
        height: 100px;
        width: 100px;
        border-radius: 50%;
    }
    
}

// header [ header ]
header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    height: 100vh;
    width: 100%;
    padding: 10px;
    text-transform: capitalize;
    z-index: 1;
    
    // header element styles
    .title {
        font-size: 2.75rem;
    }
    .tagline {
        // greyed out [ grey ]
        color: rgb(131, 130, 130);
        text-decoration: underline;
        font-size: 1.35rem;
        letter-spacing: 0.1rem;
        }
    a {
        color: #FFF;
        text-decoration: none;
    }
    .btn {
        font-size: 0.75rem;
        margin-left: 0;
    }
}

// main [ main ]
main {

    // display props [ flex ]
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    min-height: 100vh;
    width: 100%;

    // dev
    background: #FFF;
    margin-bottom: 10px;

    // main layout [ elmnts ]
    .elmnts {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100%;
        width: 100%;
        padding: 10px;
    }
    .elmnts:nth-child(1) {
        align-items: flex-start;
        padding-left: 25px;
    }
    .elmnts:last-child {
        justify-content: center;
        align-items: flex-start;
    }
    
    // main ul [ list ] : grid portfolio layout
    .list{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-auto-rows: minmax(50px, auto);
        gap: 10px;
        padding: 10px;
        width: 100%;
        
        // list [ container ] hidden
        .container {
            grid-column: span 2;
            grid-template-columns: repeat(2, 1fr);
            grid-auto-rows: minmax(50px, auto);
            gap: 10px;
            width: 100%;;
        }
    }
    
    // main ul li [ items ]
    .items {

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        grid-row: span 2;
        min-height: 175px;
        
        position: relative;
        // dev
        // border: 1px solid darkslategray;

        .btn {
            background: transparent;
            color: #000;
            border: 2px solid #000;
        }

        a {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            letter-spacing: 1px;
            font-size: 1.25rem;
            text-decoration: underline;
            text-transform: uppercase;
            height: 100%;
            width: 100%;
            font-family: var(--font-text);
        }
    }

    .title {
        font-size: 2.2rem;
        text-transform: capitalize;
        margin-bottom: 20px;
    }
    .btn {
        margin-top: 0;
    }
    a {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;

        background: rgba($color: #000000, $alpha: 0.4);
        border-radius: 10px;
        border: none;
        color: #FFF;
        // background: red;
    }
    
    .img {
        height: 100%;
        width: 100%;
        border-radius: 10px;
        border: none;

        // -webkit-box-shadow: 2px 2px 1px 2px #bdbdbd; 
        // box-shadow: 2px 2px 6px 3px #831f9d;
    }

}



#projects {
    .items {
        grid-column: span 2;
        grid-row: span 2;

        display: flex;
        align-items: flex-start;
    }
    .project-tagline {
        font-size: 0.95rem;
        text-decoration: underline;
        color: rgb(131, 130, 130);

        margin-top: 25px;
    }
    .project-title {
        font-size: 1.85rem;
        margin-bottom: 25px;
    }
    .text {
        font-size: 0.75rem;
        margin-bottom: 25px;
    }
    .btn {
        margin-bottom: 25px;
    }

}
#projects-header {
    max-height: 50vh;
}


// article [ information ]
article {
    display: flex;
    flex-direction: column;
    min-height: 50vh;
    width: 100%;

    padding: 10px;
    // dev
    background: #FFF;
    margin-bottom: 10px;

    // information layout [ elmnts ]
    .elmnts {

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        text-align: left;
        margin-top: 25px;
        // default dimensions
        height: 100%;
        width: 100%;
    }
    .elmnts:nth-child(1) {
        // margin-bottom: 25px;
        border: none;
    }
    // elmnts ul [ list ]
    .list {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: space-evenly;
        min-height: 300px;
        width: 100%;
        padding-left: 50px;
    }
    .items {
        width: 100%;
        list-style-type: none;
        text-transform: capitalize;
        letter-spacing: 0.5px;
        font-family: var(--font-text);
    }
    i {
        margin-right: 10px;
        font-size: 1.2rem;

        // light purple
        color: rgb(81,66,222);

        // dark blue
        color: rgb(12,57,139);

    }
    .title {
        font-size: 2.24rem;
        text-transform: capitalize;
        margin-top: 25px;
    }
    // ul list [ list title ]
    .list-title {
        padding-left: 25px;
        padding-top: 25px;
        font-size: 1.45rem;
        text-transform: capitalize;
        letter-spacing: 0.1rem;
        text-decoration: underline;
    }
    // items [ line ]
    .line {
        margin-top: 10px;
        height: 4px;
        width: 100%;
        background: #000;
        background: rgb(81,66,222);
        background: linear-gradient(111deg, rgba(81,66,222,1) 0%, rgba(143,45,158,1) 100%);

        // light blue / dark blue
        background: rgb(12,57,139);
        background: linear-gradient(111deg, rgba(12,57,139,1) 0%, rgba(38,179,195,1) 100%);

        max-width: 175px;
    }
    
}

// section [ content ]
section {
    
    // display props [ flex ]
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    height: 100vh;
    width: 100%;
    position: relative;
    padding: 10px;
    
    

    .elmnts {
        // dev
        // border: 2px solid red;
    }
    .profile {

    }
    
    // element styles
    .title {
        font-size: 2.2rem;
        text-transform: capitalize;
        margin-bottom: 25px;
        margin-top: 25px;
    }
    .text {
        color: rgb(131, 130, 130);
        font-size: 1.1rem;
        line-height: 1.6;
        padding-right: 50px;    
        margin-bottom: 20px;
        font-family: var(--font-text);
    }
    .img {
        height: 150px;
        width: 150px;
        // dev
        border: var(--debugging);
    }
    .btn {
        margin-top: 25px;
    }
    a {
        color: #FFF;
    }
}



// footer [ footer ]
footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 10px;

    // footer layout [ elmnts ]
    .elmnts {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        height: 100%;
        width: 100%;
        margin-left: 25px;
    }
    .elmnts:nth-child(1) {
        margin-top: 50px;
    }
    .elmnts:nth-child(2) {
        align-items: flex-start;
    }
    // footer [ form ]
    form {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        margin-bottom: 25px;
        margin-left: 25px;
    }
    // form [ control ]
    .control {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;

        // border: 2px solid red;
        width: 100%;
    }
    // form [ label ]
    label {
        font-size: 1.05rem;
        margin-top: 25px;
        margin-bottom: 5px;
        text-transform: capitalize;
        letter-spacing: 0.1rem;
        font-family: var(--font-text);
    }
    // form [ input ]
    input {
        border-radius: 10px;
        min-height: 40px;
        border: 1px solid rgb(82, 82, 82);
        max-width: 220px;
        width: 100%;
    }
    // form [ text area ]
    textarea {
        min-height: 125px;
        border-radius: 10px;
        border: 1px solid rgb(82, 82, 82);
        max-width: 220px;
        width: 100%;
    }
    
    // element styles
    .title {
        font-size: 2.2rem;
        text-transform: capitalize;
        letter-spacing: 0.1rem;
        margin-bottom: 25px;
        margin-top: 25px;
    }
    .text {
        color: rgb(131, 130, 130);
        font-size: 1.1rem;
        line-height: 1.6;
        padding-right: 50px;    
        margin-bottom: 20px;
        font-family: var(--font-text);
    }
    .img {
        height: 150px;
        width: 150px;
        // dev
        border: var(--debugging);
    }
    
}


.profile {
        
    height: 100%;
    width: 100%;
    position: relative;
}

#profile-wrp {
    
    z-index: 2;
    

    position: absolute;
    top: 50%;
    left: -25%;

    border: 2px solid red;
}
.profile-img {
    
    transform: translate(50%, -50%);
    font-size: 5rem;
    z-index: 1;

    animation-name: spin;
    animation-duration: 4.5s;
    animation-iteration-count: infinite;
}

aside .profile {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    // dev
    // border: 2px solid darkblue;
}
aside .profile-img {

    transform: translate(10%);
    border: 2px solid red;
}
@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

// dev removal
// main, header, article, section {display:none;}

// dev removal 
// header, section, article, footer {display: none;}
.menu {display: none;}

// media query [ tablet ] : 768px X 1024px
@media (min-width: 768px) {

    // navigation [ nav ] component
    nav {}

    aside {
        height: 90vh;
        margin-top: 10vh;
    }

    // header [ header ] component
    header {
        height: 100vh;
    }
    section {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-auto-rows: minmax(50px, auto);

        .profile {
            grid-column-start: 2;
            grid-column-end: 3;

            grid-row-start: 2;
            border: 2px solid red;
        }
        .title {
            grid-column-start: 1;
            grid-column-end: 2;
            grid-row-start: 1;
            grid-row-end: 2;

            border: 2px solid darkblue;
        }
        .text {
            grid-column-start: 1;
            grid-column-end: 2;
            grid-row-start: 2;
            grid-row-end: 3;

            border: 2px solid red;
        }
        .btn {
            grid-column-start: 1;
            grid-column-end: 2;
            grid-row-start: 3;
            grid-row-end: 4;

            border: 2px solid orange;
        }

    }

    // navigation [ nav
    main {
        gap: 20px;

        // dev
        border: var(--wireframe);

        .items {
            grid-row: span 4;
        }
    }

    // article [ information ]
    article {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        width: 100%;
        padding: 10px;
        
        .elmnts {
            margin: 0 10px 0;
            align-items: flex-start;
            justify-content: center;
            // dev
            border: 2px solid #000;
        }
        .elmnts:nth-child(1) {
            margin-bottom: 0;
        }
        .list {
            display: flex;
            align-items: flex-start;
            padding-left: 0px;
            height: 350px;
            width: 100%;
            
        }
        .items {
            padding-left: 50px;
            font-size: 1.1rem;
            text-transform: capitalize;
            list-style-type: none;
            width: 100%;
            padding-right: 50px;

            color: rgb(131, 130, 130);
        }
        .list-title {
            margin-top: 25px;
        }
        
        
    }

    section {
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
        justify-content: center;

        max-height: 50vh;

        // dev
        border: var(--wireframe);

        // container layout [ elmnts ]
        .elmnts {
            height: 100%;
            width: 100%;
            min-height: 100%;
            align-items: center;
            // border: 2px solid red;

            padding-left:  0;
        
        }
        .elmnts:nth-child(1) {
            margin-right: 10px;
        }   
        .elmnts:nth-child(2) {
            align-items: flex-start;
            margin-left: 25px;

            // border: 2px solid red;
        }

        .text {
            padding-right: 10px;
        }

        // container [ img ]
        .img {
            min-height: 200px;
        }
    }

    
    footer {
        padding: 10px;

        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        min-height: 50vh;

        // dev
        border: 2px solid darkblue;

        // footer layout [ elmnts ]
        .elmnts {   
            display: flex;
            justify-content: center;
            align-items: center;
            margin-left: 0;

            margin: 0 10px 0;
            // border: 2px solid red;
        }
        .elmnts:nth-child(1) {
            align-items: flex-start;
            margin-top: 0;
        }
        .elmnts:nth-child(1) {
            // margin-left: 0;
            margin-left: 25px;
        }
        
        // footer [ form ]
        form {
            
            width: 340px;
            height: 450px;
            width: 100%;
            border: 2px solid #000;
            margin-top: 25px;
            margin-bottom: 25px;
            margin-left: 0;
        }
        // footer form [ control ]
        .control {
            padding-left: 25px;
        }

        input {
            width: 100%;
            max-width: 90%;
        }
        textarea {
            width: 100%;
            max-width: 90%;
        }
        .text {
            margin-bottom: 0;
            padding-right: 0;
            padding-right: 15px;
        }
    }


    

    // dev removal
    // header, main, section, article {display:none;}
    

}

// media query [ laptop & desktop ] : 900px +
@media (min-width: 900px) {

    // global componet styles
    nav, header, main, article, section, footer {
        // dev
        background: #FFF;
        margin-bottom: 25vh;
    }
    
    nav {
        position: fixed;
        top: 10px;
        left: 10px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        width: 200px;
        height: 525px;
        border: 1px solid #000;
        // display menu area [ menu ]
        .menu {
            display: flex;
            flex-direction: column;
        }
        // remove menu button [ desktop ]
        #menu {
            display: none;
        }

        // nav layout [ profile ]
        .profile {
            padding-left: 25px;
        }
        .img {
            
            height: 75px;
            width: 75px;
            border-radius: 50%;
            border: 1px solid #000;
        }
        .title {
            font-size: 1.25rem;
            text-transform: capitalize;
            margin-top: 25px;
        }
        .tagline {
            font-size: 0.95rem;
            text-transform: capitalize;
        }

        // nav ul [ list ]
        .list {
            min-height: 200px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-start;
            margin-top: 25px;
            margin-bottom: 25px;
            padding-left: 25px;
        
        }
        .items {
            list-style-type: none;
            margin-bottom: 10px;
        }
        a {
            font-size: 1rem;
            text-decoration: none;
            color: #000;
        }
        a.active {
            font-weight: bold;
        }
        a.active {
            list-style-type: square;
        }
        .btn {
            margin-left: 15px;
        }

    }

    

    .page {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    header,
    section,
    main,
    article,
    footer {
        max-width: 1100px;
    }

    header, section, article, main, footer {

        min-height: 100vh;
    }
    
    footer {
        // display: flex;
        // flex-direction: row-reverse;
        // align-items: center;

        
        

        .elmnts {
            border: 2px solid red;
        }

    }

    
}