@import url('https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@300&family=Staatliches&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@300&family=Teko:wght@300&display=swap');
// css reset
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
// css variables
:root {

    // --wireframe: 2px solid darkblue;
    // --debugging: 2px solid darkred;

    // css rules [ fonts
    --font-titles: 'Staatliches', cursive;
    --font-text: 'Open Sans Condensed', sans-serif;
    --font-alt: 'Teko', sans-serif;
    
    // dark-mode
    --dark-main: rgb(22, 20, 24);
    --dark-text: #FFF;

    // light-mode
    --light-main: #FFF;
    --light-text: #000;
}
// global CSS
html {
    scroll-behavior: smooth;
}

// headings
h1,h2,h3,h4,h5,h6 {font-family: var(--font-alt);}

// colored background button
.btn {
    margin-top: 25px;
    border-radius: 20px;
    padding: 10px;
    width: 120px;
    height: 40px;
    font-size: 0.95rem;
    text-transform: capitalize;
    font-weight: bold;
    
    // purple / pink
    background: rgb(81,66,222);
    background: linear-gradient(111deg, rgba(81,66,222,1) 0%, rgba(143,45,158,1) 100%);

    // light blue / awua
    background: rgb(106,187,244);
    background: linear-gradient(111deg, rgba(106,187,244,1) 0%, rgba(71,205,183,1) 100%);

    // light blue / dark blue
    background: rgb(12,57,139);
    background: linear-gradient(111deg, rgba(12,57,139,1) 0%, rgba(38,179,195,1) 100%);
    border: none;
    color: #FFF;
}
// network [ MOVE TO END OF MAIN STYLES ]
.network {
    // background-image: url(img/network.png);
    
    position: fixed;
    bottom: 2%;
    right: 2%;
    
    
    height: 200px;
    width: 200px;
    z-index: -1;

    // border: 2px solid red;

    img {
        height: 100%;
        width: 100%;
    
    }
    
}
// wrapper [ page ]
.page {
    height: 100%;
    width: 100%;
    height: 100vh;
    position: relative;
    z-index: 1;
    overflow: scroll;
    background: var(--dark-main);


    // global componet styles
    header, section, main, article, footer {
        background: none;
    }
    nav, aside {
        background: var(--dark-main);
    }
    // content elements
    .title, .tagline, .list-title, .text, a, i, li, label {
        color: var(--dark-text);
    }
    article i,
    aside i {
        // color: #5142de;
        color: rgb(12,57,139);
    }

    // form elements
    input, textarea {
        background: rgb(69, 108, 158);
        color: var(--dark-text);
    }
    
    

}

/*
    navigation [ nav ] component 

    contains
        - button [ menu ] : event button
        - icon [ i ] : menu icon
*/
nav {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    max-width: 100%;
    height: 10vh;
    overflow: hidden;
    z-index: 3;
    
    // nav button [ menu ]
    .btn {
        position: fixed;
        top: 20px;
        right: 20px;
        width: 50px;
        background: none;
        margin-top: 0;
        margin-bottom: 0;
        margin-right: 25px;
        z-index: 100;
    }
    // nav button icon [ i ]
    i {
        font-size: 1.35rem;
        color: #000;
    }
}

/*
    aside [ naivgation ] component

    hidden mobile & tablet element

    contains 

        - ul [ list ]
        - li [ items ]

*/
aside {
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 90vh;
    margin-top: 10vh;
    overflow: hidden;
    transition: all 200ms ease;
    z-index: 2;
    
    // aside [ profile ] container
    .profile {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        padding-left: 25px;
    }
    // aside [ profile ] image
    .img {
        border: none;
        border-radius: 50%;
        height: 100px;
        width: 100px;
        transform: translate(10%);
    }
    // aside [ title & tagline ]
    .title {
        font-size: 1.75rem;
        text-transform: uppercase;
        letter-spacing: 0.1rem;
        margin-top: 25px;
        padding-left: 50px;
    }
    .tagline {
        text-transform: capitalize;
        text-decoration: underline;
        letter-spacing: 0.1rem;
        font-size: 0.85rem;
        padding-left: 50px;
    }
    // aside ul [ list ]
    .list {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-left: 50px;
        // ul [ list ] icon
        i {
            margin-right: 15px;
            color: rgb(12,57,139);
        }
    }
    // aside ul li [ items ]
    .items {
        list-style-type: none;
        margin-bottom: 25px;
        font-family: var(--font-text);
        padding-left: 25px;
    }
    .items:nth-child(1) {
        margin-top: 50px;
    }
    // li [ items ] elements
    i {
        color: var(--light-main);
        font-size: 1.45rem;
    }
    a {
        font-size: 1.15rem;
        text-transform: capitalize;
        text-decoration: none;
        
        // dev : change to ( CLR ) variable
        color: #FFF;
        color: var(--light-main);
    }
    // button [ btn ] : github link
    .btn {
        margin-left: 50px;
    }
    .btn i {
        color: var(--dark-text);
    }
}

/*
     header [ header ] component

     landing page element

     contains 

        - h1 [ title ]
        - h6 [ tagline ]
        - button [ btn ] : enter button

*/
header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    height: 100vh;
    width: 100%;
    padding-left: 50px;
    text-transform: capitalize;
    z-index: 1;
    
    
    // header [ title & tagline ]
    .title {
        font-size: 2.75rem;
    }
    .tagline {
        text-decoration: underline;
        font-size: 1.35rem;
        letter-spacing: 0.1rem;
        margin-bottom: 25px;
    }
    // header [ btn ] button
    .btn {
        font-size: 0.75rem;
        margin-left: 0;
    }
    a {
        color: #FFF;
        text-decoration: none;
    }
}

// section [ content ]
section {
    
    // display props [ flex ]
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    height: 100vh;
    width: 100%;
    position: relative;

    // content [ title & tagline ]
    .title {
        font-size: 2.2rem;
        text-transform: capitalize;
        margin-bottom: 25px;
        margin-top: 25px;
        margin-left: 50px;
    }
    .text {
        color: rgb(131, 130, 130);
        font-size: 1.1rem;
        line-height: 1.6;
        padding-right: 50px;
        margin-left: 50px;
        margin-bottom: 20px;
        font-family: var(--font-text);
    }
    // content button [ btn ]
    .btn {
        margin-left: 50px;
        margin-top: 25px;
    }
    a {
        color: #FFF;
    }
    // content profile [ img ] : spin animation
    .profile {
        margin-left: 25px;
    }
    .img {
        height: 150px;
        width: 150px;
    }
}

/*
    main [ portfolio ] component

    contains
        - layout [ elmnts ]
        - ul [ list ] : grid layout
        - li [ items ] : grid items
        - img [ img ] : project image
        - a [ link ] : project overview link
*/
main {

    // display props [ flex ]
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    min-height: 100vh;
    width: 100%;
    padding-bottom: 50px;

    // main h2 [ title ]
    .title {
        font-size: 2.2rem;
        text-transform: capitalize;
        margin-bottom: 20px;
        margin-left: 50px;
        margin-top: 10vh;
    }
    // main ul [ list ] : grid portfolio layout
    .list{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-auto-rows: minmax(50px, auto);
        gap: 50px 10px;
        padding: 25px 50px;
        width: 100%;
        // list [ container ] hidden
        .container {
            grid-column: span 2;
            grid-template-columns: repeat(2, 1fr);
            grid-auto-rows: minmax(50px, auto);
            gap: 10px;
            width: 100%;;
        }
    }
    // main ul li [ items ]
    .items {
        grid-row: span 2;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: relative;
        min-height: 175px;
        // main ul li [ items ] link
        a {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            width: 100%;
            background: rgba($color: #000000, $alpha: 0.4);
            border-radius: 10px;
            border: none;
            color: var(--dark-text);
            letter-spacing: 1px;
            font-family: var(--font-text);
            font-size: 1.25rem;
            text-decoration: underline;
            text-transform: uppercase;
        }
        // main ul li [ items ] image
        .img {
            height: 100%;
            width: 100%;
            border-radius: 10px;
            border: none;
            // -webkit-box-shadow: 2px 2px 1px 2px #bdbdbd; 
            // box-shadow: 2px 2px 6px 3px #831f9d;
        }
    }
    // main [ btn ] button
    .btn {
        margin-top: 25px;
        margin-bottom: 50px;
        margin-left: 50px;
    }
}

// article [ information ]
article {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    width: 100%;
    margin-top: 10vh;
    padding-left: 50px;
    // article [ title ]
    .title {
        font-size: 2.24rem;
        text-transform: capitalize;
        margin-top: 10vh;
    }
    // article ul [ list ]
    .list {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: space-evenly;
        min-height: 300px;
        width: 100%;
        padding-left: 25px;
    }
    .list:last-child {
        padding-bottom: 25px;
    }
    // article ul li [ items ]
    .items {
        width: 100%;
        list-style-type: none;
        text-transform: capitalize;
        letter-spacing: 0.5px;
        font-family: var(--font-text);
    }
    // ul list [ list title ]
    .list-title {
        padding-top: 25px;
        font-size: 1.45rem;
        text-transform: capitalize;
        letter-spacing: 0.1rem;
        text-decoration: underline;
    }
    i {
        color: rgb(12,57,139);  // dark blue
        font-size: 1.2rem;
        margin-right: 10px;
    }
    // items [ line ]
    .line {
        margin-top: 10px;
        height: 4px;
        width: 100%;
        max-width: 175px;
        // light blue / dark blue
        background: rgb(12,57,139);
        background: linear-gradient(111deg, rgba(12,57,139,1) 0%, rgba(38,179,195,1) 100%);
    }
}

/*

    footer [ footer ] component

    contant form wrapper

    contains 

        - h2 [ title ]
        - p [ text ]
        - form [ form ]

*/
footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
    
    padding-left: 50px;
    
    // footer [ form ]
    form {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        margin-bottom: 25px;
        margin-left: 25px;
    }
    // form [ control ]
    .control {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;

        // border: 2px solid red;
        width: 100%;
    }
    // form [ label ]
    label {
        font-size: 1.05rem;
        margin-top: 25px;
        margin-bottom: 5px;
        text-transform: capitalize;
        letter-spacing: 0.1rem;
        font-family: var(--font-text);
    }
    // form [ input ]
    input {
        border-radius: 10px;
        min-height: 40px;
        border: 1px solid rgb(82, 82, 82);
        max-width: 220px;
        width: 100%;
    }
    // form [ text area ]
    textarea {
        min-height: 125px;
        border-radius: 10px;
        border: 1px solid rgb(82, 82, 82);
        max-width: 220px;
        width: 100%;
    }
    
    // element styles
    .title {
        font-size: 2.2rem;
        text-transform: capitalize;
        letter-spacing: 0.1rem;
        margin-bottom: 25px;
        margin-top: 10vh;
    }
    .text {
        color: rgb(131, 130, 130);
        font-size: 1.1rem;
        line-height: 1.6;
        padding-right: 50px;    
        margin-bottom: 20px;
        font-family: var(--font-text);
    }
    .img {
        height: 150px;
        width: 150px;
        // dev
        border: var(--debugging);
    }
    
}


.profile {
    position: relative;
}
.profile-img {
    
    transform: translate(50%, -50%);
    font-size: 5rem;
    z-index: 1;

    animation-name: spin;
    animation-duration: 4.5s;
    animation-iteration-count: infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}






header .btn,
section .btn,
main .btn,
footer .btn {
    font-size: 0.75rem;
    text-decoration: underline;
}



// dev removal
// main, header, article, section {display:none;}

// dev removal 
// header, section, article, footer {display: none;}
.menu {display: none;}

// media query [ tablet ] : 768px X 1024px
@media (min-width: 768px) {

    // article component
    article {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-auto-rows: minmax(100px, auto);
        gap: 10px;
        padding: 10px;
        align-content: center;
        
        // article [ title ]
        .title {
            grid-column: span 3;
            grid-row: span 1;
            padding-left: 25px;
            border: var(--wireframe);
        }
        // article [ list ] ( x 2 )
        .list {
            grid-column: span 2;
            grid-row: span 2;
            min-height: 450px;
            border: var(--wireframe);
        }
        .items {
            padding-left: 50px;
        }
        .list-title {
            padding-left: 50px;
        }
    }

    // footer component
    footer {
        // display props [ grid ]
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-auto-rows: minmax(100px, auto);
        gap: 10px;
        padding: 10px;
        height: 100vh;
        align-content: center;
        // footer [ title ]
        .title {
            grid-column-start: 1;
            grid-column-end: 1;
            grid-row-start: 1;
            grid-row-end: 2;
            padding-left: 25px;
            // border: 2px solid red;
        }
        //  footer [ text ]
        .text {
            grid-column-start: 1;
            grid-column-end: 3;
            grid-row-start: 2;
            grid-row-end: 4;
            padding-left: 25px;
            margin-bottom: 0;
            padding-right: 0;
            padding-right: 15px;
            // border: 2px solid blue;
        }
        // footer [ form ]
        form {
            grid-column-start: 3;
            grid-column-end: 5;
            grid-row-start: 1;
            grid-row-end: 4;
            // border: 2px solid orange;

            width: 340px;
            height: 450px;
            width: 100%;
            border: 2px solid #000;
            margin-top: 25px;
            margin-bottom: 25px;
            margin-left: 0;
            
        }
        // form [ control ]
        .control {
            padding-left: 25px;
        }
        input {
            width: 100%;
            max-width: 90%;
        }
        textarea {
            width: 100%;
            max-width: 90%;
        }
        
    }

    // header, aside, section, main, article, footer {border: var(--wireframe);}
}
nav { display: flex;}
/*
    media query [ laptop & desktop ] 

    device width : 900px +

*/
@media (min-width: 900px) {

    .page {
        // height: 100vh;
        // min-height: 100vh;
        height: 100%;
        width: 100%;
        border: 2px solid red;
    }

    // global componet styles
    header, main, article, section, footer {
        height: 100vh;
        margin: 0;
        border: 2px solid darkblue;
        
    }

    // nav [ nav ] component : remove nav
    nav {display: none;}
    
    // aside [ navigation } component
    aside {
        
        
        position: fixed;
        top: 50%;
        left: 0;
        transform: translate(0%, -50%);
        height: 100%;
        z-index: 100;
        width: 20vh;
        margin-top: 0;
        
        max-height: 750px;
        display: grid;
        
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        width: 20vw;
        
        
        

        border: 2px solid red;

        // display menu area [ menu ]
        .menu {
            display: flex;
            flex-direction: column;
        }
        // remove menu button [ desktop ]
        #menu {
            display: none;
        }

        // nav layout [ profile ]
        .profile {
            padding-left: 25px;
        }
        .img {
            
            height: 75px;
            width: 75px;
            border-radius: 50%;
            border: 1px solid #000;
        }
        .title {
            font-size: 1.25rem;
            text-transform: capitalize;
            margin-top: 25px;
        }
        .tagline {
            font-size: 0.95rem;
            text-transform: capitalize;
        }

        // nav ul [ list ]
        .list {
            min-height: 200px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-start;
            margin-top: 25px;
            margin-bottom: 25px;
            padding-left: 25px;
        
        }
        .items {
            list-style-type: none;
            margin-bottom: 10px;
        }
        a {
            font-size: 1rem;
            text-decoration: none;
            color: #000;
        }
        a.active {
            font-weight: bold;
        }
        a.active {
            list-style-type: square;
        }
        .btn {
            margin-left: 15px;
        }

    }

    
    

    .page {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 50px;
    }
    header,
    section,
    main,
    article,
    footer {
        max-width: 1100px;
        width: 100%; //80vw;
        
        margin-left: 20vw;
        min-height: 100vh;
    }

    

    }

    
