<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Christopher">
    <meta name="developer" content="Christopher">
    <meta name="date" content="2021">
    
    <!-- title [ site ] -->
    <title>[ CONTACT ] Christopher Harris</title>

    <!-- css [ wire ] -->
    <link rel="stylesheet" href="wire.css">

    <!-- js [ wire ] -->
    <script src=""></script>
</head>
<body>

    <!-- footer -->
    <footer id="footer" class="wrapper_inner">
        <div class="elmnts">
            <!-- info -->
            <h2>christopher harris</h2>
            
            <p class="tag">
                Front End Web Developer <br>
                IT Support Specialist <br>
                Melbourne, Australia
            </p>
            <!-- info -->
        </div>
        <div class="elmnts">
            <!-- resume ul -->
            <ul>
                <!-- resume info -->
                <li>
                    <!-- info title -->
                    <h4>Digital Resume</h4>
                    <!-- info title -->
                </li>
                <li>
                    <!-- helper -->
                    <p>view digital resume online or download a word document version.</p>
                    <!-- helper -->
                </li>
                <li>
                    <!-- resume open -->
                    <button class="page_button" id="contact_resume">
                        <i class="fas fa-file-alt"></i>
                        resume
                    </button>
                    <!-- resume open -->
                </li>
                <!-- resume info -->
            </ul>
            <!-- resume ul -->
        </div>
        <div class="elmnts">
            <!-- resume ul -->
            <ul>
                <!-- resume info -->
                <li>
                    
                    <!-- info title -->
                    <i class="fab fa-github-square"></i>
                    <h4>Github Account</h4>
                    <!-- info title -->
                </li>
                <li>
                    <!-- helper -->
                    <p>explore my github to find a wide range of website & applications.</p>
                    <!-- helper -->
                </li>
                <li>
                    <!-- github open -->
                    <button class="page_button" id="contact_github">
                        <i class="fab fa-github-square"></i>
                        github
                    </button>
                    <!-- github open -->
                </li>
                <!-- resume info -->
            </ul>
            <!-- resume ul -->
        </div>
        <div class="elmnts">
            <!-- resume ul -->
            <ul>
                <li>
                    <!-- info title -->
                    <h4>Personal Email</h4>
                    <!-- info title -->
                </li>
                <li>
                    <!-- helper -->
                    <p>feel free to get in touch for a friendly chat via sending an email.</p>
                    <!-- helper -->
                </li>
                <li>
                    <!-- email open -->
                    <button class="page_button" id="contact_email">
                        <i class="far fa-envelope"></i>
                        email
                    </button>
                    <!-- email open -->
                </li>
                <!-- resume info -->
            </ul>
            <!-- resume ul -->
        </div>
        <div class="elmnts">
            <!-- form || signiture -->
            <p>The developer thanks you kindly for visiting this page.</p>
            <!-- form || signiture -->
            
            <!-- back to top -->
            <button id="top" class="desktop_hidden">
                <a href="#page">
                    <i class="fas fa-caret-square-up"></i>
                    <h5>Top</h5>
                </a>
            </button>
            <!-- back to top -->
        </div>
        <!-- elmnts -->
    </footer>
    <!-- footer -->

    
    
</body>
</html>