<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Christopher">
    <meta name="developer" content="Christopher">
    <meta name="date" content="2021">
    
    <!-- title [ site ] -->
    <title>[ DEVELOPMENT ] Christopher Harris</title>

    <!-- css [ wire ] -->
    <link rel="stylesheet" href="wire.css">

    <!-- js [ wire ] -->
    <script src=""></script>
</head>
<body>


     <!-- projects -->
     <section id="projects" class="wrapper_inner">
            
        <!-- elmnts -->
        <div class="elmnts" >
            <!-- title -->
            <h2>Web Development</h2>
            <p class="tag">websites, projects, applications & designs</p>
            <p class="txt" style="display: none;">
                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Libero, quos?
            </p>
            <!-- title -->
        </div>
        <div class="elmnts">
            <!-- slideshow -->
            <main id="slideshow">

                <!-- UNDER DEVELOPMENT --><!-- UNDER DEVELOPMENT --><!-- UNDER DEVELOPMENT -->
                <!-- UNDER DEVELOPMENT --><!-- UNDER DEVELOPMENT --><!-- UNDER DEVELOPMENT -->

                <!-- slideshow [ slides ] -->
                <article class="slides">
                    
                    <!-- card -->
                    <div class="card">

                        <!-- card [ card_face ] [ front ] -->
                        <div class="card_face front">
                            <!-- card face front [ background ] top -->
                            <div class="bk"></div>
                            <!-- card face front [ background ] top -->

                            <!-- card face front [ info ] -->
                            <div class="info">
                                <!-- project info -->
                                <h4 class="slideTitle"></h4>
                                <h6 class="slideTag"></h6>
                                <p class="slideDesc"></p>
                                <!-- project info -->
                            </div>
                            <!-- card face front [ info ] -->
                            
                            <!-- card face front [ box ] -->
                            <div class="card_face box">
                                <!-- project image [ small ] -->
                                <img src="screens/Placeholders/alfheim-desktop.PNG" alt="project : alfheim" class="small">
                                <!-- project image [ small ] -->
                            </div>
                            <!-- card face front [ box ] -->

                        </div>
                        <!-- card [ card_face ] [ front ] -->

                        <!-- card [ card_face ] [ back ] -->
                        <div class="card_face back">
                            <!-- card face back [ view ] button -->
                            <button class="view">view project</button>
                            <!-- card face back [ view ] button -->
                        </div>
                        <!-- card [ card_face ] [ back ] -->

                    </div>
                    <!-- card -->

                </article>
                <article class="slides">
                    
                    <!-- card -->
                    <div class="card">

                        <!-- card [ card_face ] [ front ] -->
                        <div class="card_face front">
                            <!-- card face front [ background ] top -->
                            <div class="bk"></div>
                            <!-- card face front [ background ] top -->

                            <!-- card face front [ info ] -->
                            <div class="info">
                                <!-- project info -->
                                <h4 class="slideTitle"></h4>
                                <h6 class="slideTag"></h6>
                                <p class="slideDesc"></p>
                                <!-- project info -->
                            </div>
                            <!-- card face front [ info ] -->
                            
                            <!-- card face front [ box ] -->
                            <div class="card_face box">
                                <!-- project image [ small ] -->
                                <img src="screens/Placeholders/alfheim-desktop.PNG" alt="project : alfheim" class="small">
                                <!-- project image [ small ] -->
                            </div>
                            <!-- card face front [ box ] -->

                        </div>
                        <!-- card [ card_face ] [ front ] -->

                        <!-- card [ card_face ] [ back ] -->
                        <div class="card_face back">
                            <!-- card face back [ view ] button -->
                            <button class="view">view project</button>
                            <!-- card face back [ view ] button -->
                        </div>
                        <!-- card [ card_face ] [ back ] -->

                    </div>
                    <!-- card -->

                </article>
                <article class="slides">
                    
                    <!-- card -->
                    <div class="card">

                        <!-- card [ card_face ] [ front ] -->
                        <div class="card_face front">
                            <!-- card face front [ background ] top -->
                            <div class="bk"></div>
                            <!-- card face front [ background ] top -->

                            <!-- card face front [ info ] -->
                            <div class="info">
                                <!-- project info -->
                                <h4 class="slideTitle"></h4>
                                <h6 class="slideTag"></h6>
                                <p class="slideDesc"></p>
                                <!-- project info -->
                            </div>
                            <!-- card face front [ info ] -->
                            
                            <!-- card face front [ box ] -->
                            <div class="card_face box">
                                <!-- project image [ small ] -->
                                <img src="screens/Placeholders/alfheim-desktop.PNG" alt="project : alfheim" class="small">
                                <!-- project image [ small ] -->
                            </div>
                            <!-- card face front [ box ] -->

                        </div>
                        <!-- card [ card_face ] [ front ] -->

                        <!-- card [ card_face ] [ back ] -->
                        <div class="card_face back">
                            <!-- card face back [ view ] button -->
                            <button class="view">view project</button>
                            <!-- card face back [ view ] button -->
                        </div>
                        <!-- card [ card_face ] [ back ] -->

                    </div>
                    <!-- card -->

                </article>
                <!-- slideshow [ slides ] -->
                

                <!-- slideshow controls -->
                 <div class="controls">
                    <!-- control buttons -->
                    <button id="controlsPrev"><</button>
                    <button class="controlsView">view</button>
                    <button id="controlsNext">></button>
                    <!-- control buttons -->
                </div>
                <!-- slideshow controls -->

            </main>
            <!-- slideshow -->
        </div>
        <!-- elmnts -->
    </section>
    <!-- projects -->
    
    
</body>
</html>