<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Christopher">
    <meta name="developer" content="Christopher">
    <meta name="date" content="2021">
    
    <!-- title [ site ] -->
    <title>[ INFORMATION ]Christopher Harris</title>

    <!-- css [ wire ] -->
    <link rel="stylesheet" href="wire.css">

    <!-- js [ wire ] -->
    <script src=""></script>
</head>
<body>

    <!-- projects gallery -->
    <div class="gallery" style="display: none;">

        <!-- place floating svg animation between project elements on mobile --><!-- place floating svg animation between project elements on mobile -->
        <!-- place floating svg animation between project elements on mobile --><!-- place floating svg animation between project elements on mobile -->

        <!-- projects -->
        <article class="projects">

            <!-- elmnts -->
            <div class="elmnts title">
                <!-- description -->
                <h3>Coffeeshop</h3>
                <h6>A modern coffees house website styled in a minimalistic design pattern</h6>
                <!-- description -->
            </div>
            <div class="elmnts showcase">
                <!-- showcase img -->
                <img src="src/img/c-0-lrg.jpeg" alt="coffeeshop-showcase" class="showcaseimg">
                <!-- <img src="#" alt="" class="projects-show"> -->
                <!-- showcase img -->
            </div>
            <div class="elmnts images">
                <!-- preview -->
                <img src="src/img/c-1-sml.jpeg" alt="coffeeshop-view" class="projects-img">
                <!-- preview -->
            </div>
            <div class="elmnts images">
                <!-- preview -->
                <img src="src/img/c-2-sml.jpeg" alt="coffeeshop-view" class="projects-img">
                <!-- preview -->
            </div>
            <div class="elmnts images">
                <!-- preview -->
                <img src="src/img/c-3-sml.jpeg" alt="coffeeshop-view" class="projects-img">
                <!-- preview -->
            </div>
            <div class="elmnts desc">
                <!-- information -->
                <p class="txt">
                    A single page application prototype website simulating a modern coffeeshop.
                    Developed utilizing HTML6 semantic element tags & [ ... ] CSS pre-processor.
                </p>
                <p class="txt">
                    Basic website functionality includes mobile responsive components, landing page
                    slideshow banner, order form validation & confirmation.
                </p>
                <!-- information -->

                <!-- live site -->
                <a href="#" class="live">live</a>
                <!-- live site -->
            </div>
            <!-- elmnts -->
        
        </article>

        <!-- place floating svg animation between project elements on mobile --><!-- place floating svg animation between project elements on mobile -->
        <!-- place floating svg animation between project elements on mobile --><!-- place floating svg animation between project elements on mobile -->

        <article class="projects">

            <!-- elmnts -->
            <div class="elmnts title">
                <!-- description -->
                <h3>Planets</h3>
                <h6>A animation & education web application utilizing the GSAP library</h6>
                <!-- description -->
            </div>
            <div class="elmnts showcase">
                <!-- showcase img -->
                <img src="src/img/planet-1.png" alt="planets-showcase" class="showcaseimg">
                <!-- <img src="#" alt="" class="projects-show"> -->
                <!-- showcase img -->
            </div>
            <div class="elmnts images">
                <!-- preview -->
                <img src="src/img/p-1-sml.jpeg" alt="planets-view" class="projects-img">
                <!-- preview -->
            </div>
            <div class="elmnts images">
                <!-- preview -->
                <img src="src/img/p-2-sml.jpeg" alt="planets-view" class="projects-img">
                <!-- preview -->
            </div>
            <div class="elmnts images">
                <!-- preview -->
                <img src="src/img/p-3-sml.jpeg" alt="planets-view" class="projects-img">
                <!-- preview -->
            </div>
            <div class="elmnts desc">
                <!-- information -->
                <p class="txt">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus, similique.
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus, similique.
                </p>
                <!-- information -->

                <!-- live site -->
                <a href="#" class="live">live</a>
                <!-- live site -->
            </div>
            <!-- elmnts -->
        
        </article>

        <!-- place floating svg animation between project elements on mobile --><!-- place floating svg animation between project elements on mobile -->
        <!-- place floating svg animation between project elements on mobile --><!-- place floating svg animation between project elements on mobile -->

        <article class="projects">

            <!-- elmnts -->
            <div class="elmnts title">
                <!-- description -->
                <h3>Destinations</h3>
                <h6>Personalized travel gallery to upload & view my previous trips</h6>
                <!-- description -->
            </div>
            <div class="elmnts showcase">
                <!-- showcase img -->
                <img src="src/img/travel-1.jpg" alt="travel-showcase" class="showcaseimg">
                <!-- <img src="#" alt="" class="projects-show"> -->
                <!-- showcase img -->
            </div>
            <div class="elmnts images">
                <!-- preview -->
                <img src="src/img/d-1-sml.jpeg" alt="travel-view" class="projects-img">
                <!-- preview -->
            </div>
            <div class="elmnts images">
                <!-- preview -->
                <img src="src/img/d-2-sml.jpeg" alt="travel-view" class="projects-img">
                <!-- preview -->
            </div>
            <div class="elmnts images">
                <!-- preview -->
                <img src="src/img/d-3-sml.jpeg" alt="travel-view" class="projects-img">
                <!-- preview -->
            </div>
            <div class="elmnts desc">
                <!-- information -->
                <p class="txt">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus, similique.
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus, similique.
                </p>
                <!-- information -->

                <!-- live site -->
                <a href="#" class="live">live</a>
                <!-- live site -->
            </div>
            <!-- elmnts -->
        
        </article>
        <!-- projects -->
    
    </div>
    <!-- projects gallery -->
    
</body>
</html>