<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Christopher">
    <meta name="developer" content="Christopher">
    <meta name="date" content="2021">
    
    <!-- title [ site ] -->
    <title>[ NAVIGATION ] Christopher Harris</title>

    <!-- css [ wire ] -->
    <link rel="stylesheet" href="wire.css">

    <!-- js [ wire ] -->
    <script src=""></script>
</head>
<body>

    <!-- nav component -->
    <nav id="nav" class="nav_full">

        <!-- elmnts -->
        <div class="elmnts mini">
            <button id="exit">X</button>

            <!-- nav title -->
            <h4 class="tag" data-text="c-harris.dev">c-harris.dev</h4>
            <p>web developer & IT support specialist</p>
            <!-- nav title -->
        </div>
        <div class="elmnts">
            <!-- nav_list -->
            <ul class="nav_list">
                <!-- nav_list li -->
                <li>
                    <!-- link -->
                    <a href="#page" id="link_homepage" class="links">
                        <!-- icon -->
                        <i class="fas fa-home"></i>
                        <!-- icon -->
                        
                        <!-- mini -->
                        <span class="mini">
                            home
                        </span>
                        <!-- mini -->
                    </a>
                    <!-- link -->
                </li>
                <li>
                    <!-- link -->
                    <a href="#about" id="link_about" class="links">
                        <!-- icon -->
                        <!-- <i class="fas fa-info"></i> -->
                        <i class="fas fa-info-circle"></i>
                        <!-- icon -->
                        
                        <!-- mini -->
                        <span class="mini">
                            about
                        </span>
                        <!-- mini -->
                    </a>
                    <!-- link -->
                </li>
                <li>
                    <!-- link -->
                    <a href="#projects" id="link_projects" class="links">
                        <!-- icon -->
                        <i class="far fa-folder-open"></i>
                        <!-- icon -->

                        <!-- mini -->
                        <span class="mini">
                            work
                        </span>
                        <!-- mini -->
                    </a>
                    <!-- link -->
                </li>
                <li>
                    <!-- link -->
                    <a href="#technical" id="link_technical" class="links">
                        <!-- icon -->
                        <i class="fas fa-desktop"></i>
                        <!-- icon -->

                        <!-- mini -->
                        <span class="mini">
                            tech
                        </span>
                        <!-- mini -->
                    </a>
                    <!-- link -->
                </li>
                <li>
                    <!-- link -->
                    <a href="#footer" id="link_footer" class="links">
                        <!-- icon -->
                        <i class="far fa-id-card"></i>
                        <!-- icon -->

                        <!-- mini -->
                        <span class="mini">
                        info
                        </span>
                        <!-- mini -->
                    </a>
                    <!-- link -->
                </li>
                <!-- nav_list li -->
            </ul>
            <!-- nav_list -->
        </div>
        <div class="elmnts">

            <!-- nav_btns -->
            <ul class="nav_btns">
                <!-- nav-btn li -->
                <li>
                    <!-- mode button -->
                    <!-- <button id="mode" class="phase"><i id="mode_icon" class="fas fa-toggle-off"></i></button> -->
                    <!-- mode button -->
                </li>
                <li>
                    <!-- github button -->
                    <button>
                        <!-- link [ github] -->
                        <a href="https://github.com/decode-harris">
                            <!-- icon [ github ] -->
                            <i class="fab fa-github-square"></i>
                            <!-- icon [ github ] -->
                        </a>
                        <!-- link [ github] -->
                    </button>
                    <!-- github button -->
                </li>
                <li>
                    <!-- mail button -->
                    <button>
                        <!-- link [ mail ] -->
                        <a href="mailto:decode.harris@gmail.com">
                            <!-- icon [ mail ] -->
                            <i class="far fa-envelope"></i>
                            <!-- icon [ mail ] -->
                        </a>
                        <!-- link [ mail ] -->
                    </button>
                    <!-- mail button -->
                </li>
                <li>
                    <!-- mini button -->
                    <button id="minimize">
                        <!-- minifiy nav bar on dessktop, remove minimize class from view [ nav_list text ] -->
                        <--
                        <!-- minifiy nav bar on dessktop, remove minimize class from view [ nav_list text ] -->
                    </button>
                    <!-- mini button -->
                </li>
                <!-- nav-btn li -->
            </ul>
            <!-- nav_btns -->
        </div>
        <!-- elmnts -->
    </nav>
    <!-- nav component -->
    
</body>
</html>