<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Christopher">
    <meta name="developer" content="Christopher">
    <meta name="date" content="2021">
    
    <!-- title [ site ] -->
    <title>[ PAGE ] Christopher Harris</title>

    <!-- css [ wire ] -->
    <link rel="stylesheet" href="wire.css">

    <!-- js [ navigationComponentProperties ] -->
    <script defer src="navigationComponentProperties.js"></script>

    <!-- js [ pageComponentDarkmode ] -->
    <script defer src="pageComponentDarkmode.js"></script>

</head>
<body>

    <!-- [ page ] -->
    <div id="page">

        <!-- [ header ] -->
        <header class="header">
            <!-- [ title info ] -->
            <h2>Christopher Harris</h2>
            <p>web developer & IT support specialist</p>
            <!-- [ title info ] -->
        </header>
        <!-- [ header ] -->

        <!-- [ buttons ] -->
        <div class="buttons">
            <!-- [ navigation-btn ] -->
            <button class="btn" id="navigation-btn">menu</button>
            <!-- [ navigation-btn ] -->

            <!-- [ pagemode-btn ] -->
            <button class="btn" id="pagemode-btn">mode</button>
            <!-- [ pagemode-btn ] -->
        </div>
        <!-- [ buttons ] -->
            
        
        <!-- [ nav ] -->
        <nav class="nav">
            <!-- [ navigation ] -->
            <ul class="navigation">
                <!-- [ navigation-links ] -->
                <li class="navigation-links">homepage</li>
                <li class="navigation-links">information</li>
                <li class="navigation-links">development</li>
                <li class="navigation-links">technical</li>
                <li class="navigation-links">contact</li>
                <!-- [ navigation-links ] -->
            </ul>
            <!-- [ navigation ] -->
        </nav>
        <!-- [ nav ] -->

        <!-- [ main ] -->
        <main class="main">

            <!-- [ content ] -->
            <section class="content" id="homepage">homepage</section>
            <section class="content" id="">information</section>
            <section class="content" id="">development</section>
            <section class="content" id="">technical</section>
            <section class="content" id="">contact</section>
            <!-- [ content ] -->

        </main>
        <!-- [ main ] -->

        <!-- [ footer ] -->
        <footer class="footer">
            <!-- [ elements ] -->
            <h6>developed by</h6>
            <h5>Christopher Harris</h5>
            <p>thank you for visiting this website.</p>
            <!-- [ elements ] -->
        </footer>
        <!-- [ footer ] -->
    
    </div>
    <!-- [ page ] -->
    
    
</body>
</html>