<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Christopher">
    <meta name="developer" content="Christopher">
    <meta name="date" content="2021">
    
    <!-- title [ site ] -->
    <title>[ TECHNICAL ]Christopher Harris</title>

    <!-- css [ wire ] -->
    <link rel="stylesheet" href="wire.css">

    <!-- js [ wire ] -->
    <script src=""></script>
</head>
<body>

    <!-- technical -->
    <section id="technical" class="wrapper_inner">
            
        <!-- elmnts -->
        <div class="elmnts">
            <h2>Technical Skills</h2>
            <p class="tag">web development, software, applications & technical experience</p>
            <p class="txt" style="display: none">
                Obtained an Advanced Diploma of Information Technology 
                from RMIT School of Business, Melbourne City Campus in 2018.
                Acquired additional qualifications, Responsive Web Design certification
                from Free Code Camp in 2019.
            </p>
        </div>
        <div class="elmnts">
            <!-- sub-tech -->
            <ul class="sub-tech">
                <!-- list title -->
                <h4>development</h4>
                <!-- list elmnts -->
                <li>Semantic HTML & Responsive CSS</li>
                <li>Javascript & jQuery</li>
                <li>Github, Xampp & firebase</li>
                <li>SEO Practices & Analytics</li>
                <!-- list elmnts -->
            </ul>
            <!-- sub-tech -->
        </div>
        <div class="elmnts">
            <!-- sub-tech -->
            <ul class="sub-tech">
                <!-- list title -->
                <h4>software</h4>
                <li>Visual Studio Code</li>
                <li>Adobe XD & Photoshop</li>
                <li>Microsoft Office 365</li>
                <li>Windows OS, Terminal, Directory</li>
                <!-- list elmnts -->
            </ul>
            <!-- sub-tech -->
        </div>
        <div class="elmnts">
            <!-- sub-tech -->
            <ul class="sub-tech">
                <!-- list title -->
                <h4>hardware</h4>
                <!-- list elmnts -->
                <li>component build experience</li>
                <li>server installation & monitoring</li>
                <li>hardware configuration & debugging</li>
                <li>diagnose potential issues</li>
                <!-- <li>pixel perfect design implementation</li>
                <li>Code analysis, refactoring & debugging</li>
                <li>Adhering to technical standards & guidelines</li> -->
                <!-- list elmnts -->
            </ul>
            <!-- sub-tech -->
        </div>
        <!-- elmnts -->
    </section>
    <!-- technical -->

    
    
</body>
</html>