@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@700&family=Poppins&display=swap');

/* CSS Reset */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --type-font: 'Poppins', sans-serif;
    --title-font: 'Cabin', sans-serif;
    --menu-font: 'Heebo', sans-serif;

    /* span text color variable */
    --accent-color: rgb(20, 65, 148);

    /* global background color variable */
    --darkest-blue: rgb(3, 3, 22);

    /* footer background color variable */
    --middle-blue: rgb(26, 26, 45);
    
}
/* Page Wrapper Properties */
.page {
    position: relative;
}

/* Global Container Properties */
.container {
    background: var(--darkest-blue);

    /* set a container height for the element while in development phase */
    min-height: 100vh;
    /* width: 100%; */

    /* position the child content  */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    /* apply development purpose font properties */
    font-family: var(--type-font);

    /* hide the overflowing animation elements inside the container */
    overflow: hidden;

    /* border: 2px solid red; */
}

/* Global Title Element [ h2 ] */
h2 {
    /* border: 2px solid limegreen; */

    font-size: 2.2rem;
    color: #FFF;
    text-transform: capitalize;
    text-decoration: underline;
    margin-bottom: 1rem;
    width: 100%;
    padding: 0.5rem;
}


/* 

    Global Title Element [ h4 ]

    Project Title housed inside the main project list

*/
h4 {
    color: #FFF;
    font-size: 2.25rem;
    text-transform: capitalize;
    padding: 1rem;
    text-align: center;
}

/* 
    
    Global Title Element [ h5 ]

    Project tagline for project data elements synopsis

*/
h5 {
    font-size: 1.25rem;
    color: #FFF;
    padding: 0.25rem;
    text-align: center;
}

/* Global Text Content Element Properties */
.text {
    font-size: 2rem;
    color: #FFF;
    text-align: left;
    text-align: center;
    text-align: right;
    line-height: 1.4;
    padding: 1rem;
}
.text span {
    color: var(--accent-color);
}



/* Navigation Menu Button */
#menu {
    /* position the button on the top right of the device */
    position: fixed;
    top: 10px;
    right: 10px;
    height: 50px;
    width: 50px;
    z-index: 1;
    background: transparent;
    border: 1px solid #FFF;
    border-radius: 8px;
    color: #FFF;
}
#menu i {
    color: #FFF;
}

/* Global Header Component Properties */
header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 1rem;

    
}


/* Projects Specific Content Properties */
#projects h2 {
    text-align: left;
}
#projects .text {
    text-align: left;
}
#projects h6 {
    color: #FFF;
    font-size: 0.85rem;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 0.12rem;
    text-decoration: underline;
}
#projects main .text {
    margin-top: 2rem;
    font-size: 1.15rem;
    text-align: center;
}
/* 
    Main Project Component Properties

    Contains the un-ordered list element which 
    houses the project development data.

    Items inside the list ( project data ) include
    two(2) title elements, a text description elemenet
    & a preview image.

*/
main {
    /* border: 2px solid red; */
    padding: 1rem;

    /* min-height: 100vh; */
    width: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
main img {
    /* border: 2px solid red; */
    height: 200px;
    width: 200px;
    border-radius: 50%;
    margin: 1rem;
}

/* Main Project List Properties */
main .list {
    padding: 0.5rem;
}
main .items {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    margin-bottom: 10rem;
    /* border: 2px solid red; */
}


/* Main Project Link  Properties */
main a {
    border: 1px solid #FFF;
    color: #FFF;

    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 40px;
    width: 200px;
    padding: 0.5rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
    text-decoration: none;
}
main i {
    color: #FFF;
    font-size: 2rem;
}


/* Media Query for Laptop - Desktop Devices */
@media (min-width: 1000px) {

    h5 {
        padding-left: 1rem;
        text-decoration: underline;
    }

    /* provide a max width dimension for the semantic elements */
    header,
    article {
        max-width: 1000px;
    }


    /* provide desktop styles to the project data list */
    main .list {
        width: 100%;
        max-width: 1000px;
        
    }
    main .items {
        border: 2px solid #FFF;
        border-radius: 10px;
        align-items: flex-start;
        justify-content: center;
        position: relative;
        padding: 2rem;
        /* assign more space between the bottom of each items element */
        margin-bottom: 30rem;
        /* generated box shadow - alter to match current background color */
        -webkit-box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0,0,0,0); 
        box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0,0,0,0);
    }
    #projects main .text {
        text-align: left;
        margin-top: 0;
        max-width: 500px;
    }

    main img {
        position: absolute;
        right: 10%;
        border-radius: 0;
        width: 300px;
        border-radius: 8px;
    }

    /* position the article text in the contact container to the center of the screen on desktop devices */
    #contact article .text {
        text-align: center;
    }


    /* provide a max width for the contact form component */
    form {
        max-width: 700px;
    }
    /* provide a max width for the footer list component */
    
    footer .list {
        max-width: 500px;
    }
}