/* import google fonts */
@import url("https://fonts.googleapis.com/css2?family=Kanit&family=Quicksand:wght@300&display=swap");
@import './containers/containers.css';
/* 
    Project Card Component

    Displays the project information to the user in a neatly
    contained layout container.

    Contains an image(img), title(h3), a tagline(h5) &
    a text description(p).

    Mobile Layout : Flex Column, Center Position.
    Desktop Layout : Grid Column(6), Placement Pending.

*/
@import './containers/design.css';
@import './components/sidenav.css';
@import './components/header.css';
@import './components/main.css';
@import './components/aside.css';
@import './components/footer.css';
@import './elements/titles.css';
@import './elements/text.css';
@import './elements/buttons.css';
@import './elements/links.css';
@import './content/images.css';
@import './content/preview.css';
.project {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  padding: 1.25rem;
  border-radius: 6px;
}
.project .list {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-start;
  height: 100%;
  width: 100%;
  padding: 1rem;
  list-style-type: none;
  /* border: var(--border-white); */
}
.project .items {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
  height: 100%;
  /* border: var(--border-white); */
}

@media (min-width: 900px) {
  /* project container element */
  .project {
    /* provide a max dimensions & spacing properties */
    max-width: 70%;
    max-height: 50%;
    padding: 3rem;
    /* position content to the center & change direction to row of the container */
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  .project .items {
    align-items: flex-end;
    text-align: right;
  }
  .project .btn {
    width: 60%;
  }
  .reverse .preview {
    /* alter applied margin property on reverse side */
    margin-left: 1rem;
  }
  .reverse .items {
    align-items: flex-start;
    text-align: left;
  }
}
/* import component properties */
/* navigation component ( header ) */
.nav {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 10vh;
  right: -100vw;
  bottom: 10vh;
  width: 100%;
  transition: 150ms all ease-in-out;
  z-index: 1;
  font-family: var(--title-font);
  background: var(--greyscale);
}
.nav .list {
  /* display flex property, center content along X,Y axis */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* provide dimension & spacing properties */
  height: 40%;
  width: 100%;
  padding: 2rem;
  /* remove default list style properties */
  list-style-type: none;
  /* color variable blueprint ( darkblue ). */
  background: var(--blueprint);
}
.nav .items {
  margin-bottom: 0.5rem;
  width: 100%;
  max-width: 70%;
  text-align: center;
  padding: 0.5rem;
  /* border variable */
}
.nav .links {
  /* apply full width of parent container */
  min-height: 100%;
  min-width: 100%;
  font-size: 1rem;
  text-transform: capitalize;
  text-decoration: none;
  letter-spacing: 1.5px;
  /* color variable blueprint ( darkblue ). */
  color: var(--color-white);
}
.nav .list:nth-child(2) .items {
  max-width: 30%;
  border: var(--border-white);
  transition: 150ms all ease-in-out;
}
.nav .list:nth-child(2) .items:hover {
  background: var(--accent);
  transition: 150ms all ease-in-out;
}
.nav .list:nth-child(3) .items {
  background: var(--greyscale);
  border: var(--border-white);
}

.nav-active {
  right: 0;
}

/* navigation list( row) properties */
.nav .row {
  /* assign the direction from column to row. */
  flex-direction: row;
  /* space the row content evenly. */
  justify-content: space-evenly;
  height: 20%;
}

.nav .row .items {
  /* provide a max width for the item elements */
  max-width: 100px;
}

.box {
  height: 50px;
  width: 50px;
  padding: 0.5rem;
  background: black;
}

.inner {
  border-radius: 50%;
  height: 100%;
  width: 100%;
  background: white;
}

.nav h3 {
  padding: 0;
  margin: 0;
  letter-spacing: 2px;
  border-bottom: 2px solid #FFF;
  text-align: left;
  margin-top: 0.5rem;
  border: none;
}

.nav h6 {
  padding: 0;
  margin: 0;
  text-align: left;
  letter-spacing: 1px;
  font-weight: lighter;
  text-decoration: none;
  margin-bottom: 0.1rem;
}

@media (min-width: 900px) {
  .nav .list {
    max-width: 60%;
  }
  .nav .items {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
/* import element properties */
/* import image source content */
/* CSS Reset */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* CSS Variables */
:root {
  --blueprint: rgb(14, 28, 44);
  --greyscale: rgb(0, 0, 0);
  --greyscale: rgb(41, 53, 72);
  --greyscale: rgb(22, 22, 28);
  --greyscale: rgba(14, 8, 8, 0.746);
  /* accent color variable */
  --accent: rgb(223, 168, 28);
  --accent: rgb(223, 93, 28);
  --accent: rgb(78, 178, 145);
  /* imported google font families */
  --title-font: "Kanit", sans-serif;
  --text-font: "Quicksand", sans-serif;
  --border-dark: 2px solid darkslategrey;
  --border-white: 2px solid whitesmoke;
  --color-white: #FFF;
}

/* 

    Page Wrapper

    Grid based layout for the entire website.

    Contains
        1. Header Component
        2. Side Navigation Component
        3. Main Component
        4. Aside Component
        5. Footer Component
*/
.page {
  /* 
      apply the display of grid, create 6 columns to space
      website content.
  */
  display: grid;
  align-content: space-between;
  grid-template-columns: repeat(6, 1fr);
  /*
      provide sizing & dimension properties to the page wrapper
  */
  height: 100vh;
  max-height: 100vh;
  width: 100%;
  /* 
      provide the position relative property to the page
      wrapper to act as the base point for out of page-flow
      elements (animation).
  */
  position: relative;
  /* 
      provide the overflow property of hidden to the page
      wrapper. This will contain the page / application 
      to a consistent size of all devices.
  */
  overflow: hidden;
  /*
      apply the background variable blueprint ( darkblue ) 
      to the page wrapper. Also apply the text color to 
      white.
  */
  background: var(--blueprint);
  color: #FFF;
}

/*
    Remove Desktop Content on Mobile Devices.
    Display Mobile Content on Mobile Devices.
*/
.mobile {
  display: block;
}

.desktop {
  display: none;
}

@media (min-width: 900px) {
  .reverse {
    flex-direction: row-reverse;
  }
  .center {
    align-items: center;
  }
  .offset {
    align-items: flex-end;
  }
  /*
      Remove Mobile Content on Desktop Devices.
      Display Desktop Content on Desktop Devices.
  */
  .mobile {
    display: none;
  }
  .desktop {
    display: block;
  }
}

/*# sourceMappingURL=index.css.map */
