/* @import url('https://fonts.googleapis.com/css2?family=Titillium+Web&display=swap'); */
/* 
    font-family: 'Titillium Web', sans-serif;
*/
@import url('https://fonts.googleapis.com/css2?family=PT+Sans+Narrow:wght@400;700&family=Rubik:wght@300&display=swap');
/* 
    font-family: 'PT Sans Narrow', sans-serif;
    font-family: 'Rubik', sans-serif;
*/


/* global reset */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* global variables */
:root {
    /* spacing */
    --sm: 2%;
    --md: 5%;
    --lg: 10%;

    /* dev borders */
    /* --wireframe: 2px solid darkblue;
    --debugging: 2px dotted darkred;
    --component: 2px solid darkgreen; */

    /* font style */
    --mainfont: 'Titillium Web', sans-serif;
    --text-font: 'PT Sans Narrow', sans-serif;
    --head-font: 'Rubik', sans-serif;

    /* light mode | darkmode */
    --mode: #000;
    --mode-background: #FFF;
    --mode-overlay: rgba(241,237,237,0.4);
    --mode-transparent: rgba(0,0,0,0.19);
    /* --mode-transparent: rgba(255, 255, 255, 0.19); */
}

/* global html */
html {
    /* page scroll props */
    scroll-behavior: smooth;
    
    /* page font props */
    font-family: var(--text-font);
}

/* global headings */
h1 {
    font-size: 1.85rem;
    text-transform: capitalize;
    letter-spacing: 0.2rem;
}
h2 {
    font-size: 1.65rem;
    text-transform: capitalize;
    letter-spacing: 0.2rem;
    padding-bottom: var(--md);
    padding-top: var(--md);
}
h3 {
    font-size: 1.45rem;
    letter-spacing: 0.2rem;
    text-transform: capitalize;
}
h4 {
    font-size: 1.25rem;
    letter-spacing: 0.1rem;
    text-transform: capitalize;
    text-decoration: underline;
    padding-bottom: var(--md);
    
}
h5 {
    font-size: 1.05rem;
    letter-spacing: 0.1rem;
    text-transform: capitalize;
    text-decoration: underline;
}
h1,h2,h3,h4,h5,h6 {
    font-family: var(--head-font);
}

/* page wrapper */
#page {
    /* display props [ flex ] */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;

    /* position props [ relative ] */
    position: relative;
    z-index: 1;
}   

/* header component */
header {
    /* display props [ grid ] */
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-auto-rows: minmax(100px, auto);
    height: 100%;
    width: 100%;
    max-height: 12vh;
    z-index: 2;

    /* dev */
    border: var(--component);
}
header .elmnts {
    /* display props [ flex ] */
    /* grid placement [ header ] */
    grid-column: span 6;
    grid-row: span 1;

    /* display props [ flex ] */
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    height: 100%;
    width: 100%;
    
    /* element styles */
    padding: var(--md);
    
    /* dev */
    border: var(--debugging);
}
header h2 {
    font-size: 1.35rem;
    text-transform: capitalize;

    display: flex;
    justify-content: center;
    align-items: center;

    /* dev */
    border: var(--wireframe);
}

header button {
    background: transparent;
    border: 2px solid var(--mode);
    color: var(--mode);
    font-size: 1.2rem;
    padding: var(--sm);
    width: 60px;
}

/* nav component */
nav {
    /* display props [ grid ] */
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: minmax(50px, auto);
    
    /* position props : absolute */
    position: absolute;
    top: 0;
    left: 0;
    width: 90%;
    height: 100%;
    max-height: 100vh;
    z-index: 5;

    /* component styles */
    background: var(--mode-background);
    color: var(--mode);
    border-right: 3px solid var(--mode);

}
nav .elmnts {
    /* display props [ flex ] */
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 100%;
    width: 100%;

    /* dev */
    border: var(--debugging);
}
nav .elmnts:nth-child(1) {
    /* grid placement [ nav ] */
    grid-column: span 2;
    grid-row: span 1;
    flex-direction: row;
}
nav .elmnts:nth-child(2) {
    /* grid placement [ nav ] */
    grid-column: span 2;
    grid-row: span 2;
}
nav .elmnts:nth-child(3) {
    /* grid placement [ nav ] */
    grid-column: span 2;
    grid-row: span 1;
}

nav ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: var(--sm);
    height: 100%;
    width: 100%;
}
nav li {
    /* display props [ flex ] */
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;

    /* element styles */
    list-style-type: none;
    
    
    /* dev */
    /* border: var(--component); */
}
nav a {
    display: flex;
    font-size: 1.25rem;
    padding-left: var(--sm);
    text-decoration: none;
    color: var(--mode);
    text-transform: capitalize;
    letter-spacing: 0.15rem;

    transition: 200ms all ease;
}
nav a:hover {
    padding-left: var(--lg);
    transition: 200ms all ease;
}
nav i {
    font-size: 1.35rem;
    color: var(--mode);
}

nav .int li {
    justify-content: flex-start;
    padding-left: var(--md);
    width: 100%;
    height: 100%;
}
nav .int i {
    padding-right: var(--sm);
}
nav .ext {
    justify-content: space-around;
    align-items: center;
    flex-direction: row;

    height: 100%;
    width: 100%;
}



/* section container */
section {
    /* display props [ flex ] */
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    height: 100%;
    min-height: 100vh;

    /* position props [ relative ] */
    position: relative;

    /* background props [ information || landing ] */
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;

    
    /* dev */
    border: var(--component);
}
section .elmnts {
    /* display props [ flex ] */
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
    height: 100%;
    width: 100%;
    padding: var(--md);

    /* dev */
    border: var(--debugging);
}
/* section [ lists ] */
section ul {
    /* display props [ flex ] */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;

    width: 100%;
    /* dev */
    border: var(--wireframe);
}
section li {
    /* element styles */
    list-style-type: none;
    text-transform: capitalize;
    padding-left: var(--sm);
    line-height: 1.6;
    font-size: 0.85rem;
    width: 100%;
    
    /* dev */
    border: var(--debugging);
}


/* new slide panel - under development *//* new slide panel - under development *//* new slide panel - under development */
/* new slide panel - under development *//* new slide panel - under development *//* new slide panel - under development */






/*
    [ Projects Container ]

    1. main [ slideshow ] container
    2. article [ slides ] slide container
    3. card [ card ] info container
    4. card_face [ front | box | back ] elements

*/
/* main [ slideshow ] component */
main {
    /* display props [ flex ] */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    min-height: 100vh;

    /* position props [ relative ] */
    position: relative;
    z-index: 1;

    /* dev */
    border: var(--component);

}
/* article [ slides ] : main child element */
main article {
    
    /* display props [ none ] default */
    display: flex;
    
    /* display props [ flex ] active */
    justify-content: center;
    align-items: center;
    
    /* position props [ relative ] */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 100%;
    width: 100%;
    max-width: 350px;
    
    /* background props */
    /* background-image: url('../../screens/Placeholders/alfheim-desktop.PNG'); */
    background-position: center;
    background-size: cover;
    background-attachment: scroll;
    
    /* element props */
    border-radius: 12px;
    /* box-shadow: 0 4px 8px 0 var(--mode-transparent), 0 6px 20px 0 var(--mode-transparent); */
    padding: var(--sm);
    transform-style: preserve-3d;
    
    /* dev */
    border: var(--wireframe);
    /* box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19); */
}
/* card [ card ] container */
.card {
     /* position props */
     position: relative;
     height: 100%;
     width: 100%;
     
     /* element styles */
     max-height: 600px;
     max-width: 300px;

     /* 3D transform props */
     transform-style: preserve-3d;
}
.card_face {
     /* position props [ absolute ] */
     position: absolute;
     top: 0;
     left: 0;
     height: 100%;
     width: 100%;
     
     /* display props [ flex ] */
     display :flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
     text-align: center;
 
     /* element styles */
     transition: 1s ease-in-out;
     transform-style: preserve-3d;
     backface-visibility: hidden;
     /* border-radius: 0 0 12px 12px; */
     /* border: 2px solid red; */
     z-index: 2;
     
 
     /* mozilla & edge browser support */
     -moz-backface-visibility: hidden;
     -webkit-backface-visibility: hidden;
}

.card_face .front {
    /* display props [ flex ] */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;

    /* element styles */
    background: var(--mode-background);
    border-radius: 0 0 12px 12px;
    transition-delay: 100ms;
}

.card_face.back {
    /* display props [ flex ] */
    display: flex;
    justify-content: flex-end;
    align-items: center;

    /* element styles */
    color: #FFF;
    background: #000;
    border-radius: 12px;
    /* background-image: url('../../screens/Placeholders/alfheim-desktop.PNG'); */
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 12px 12px 0 0;
    
    /* 3D transform props */
    transform: perspective(500px) rotateY(180deg);
    backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -webkit-backface-visibility: hidden;

}

.card .card_face.front,
.card .card_face.back {
    /* element styles */
    border-radius: 12px 12px;
    box-shadow: 0 4px 8px 0 var(--mode-transparent), 0 6px 20px 0 var(--mode-transparent);

    /* 3D transform props */
    transform-style: preserve-3d;
    transition-delay: 100ms;
    backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
}
.card_face button {
    /* element styles */
    background: white;
    border: 2px solid var(--mode);
    border-radius: 10px;
    color: var(--mode);
    font-size: 1.2rem;
    letter-spacing: 2px;
    margin-bottom: 22%;
    min-width: 200px;
    /* padding: 2% 10%; */
    text-transform: capitalize;

    /* 3d transform props */
    transform: translateZ(50px);
    transform-style: preserve-3d;
    backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    
}


.card_face.box {
    /* position props [ absolute ] */
    position: absolute;
    left: 50%;
    top: 25%;
    transform: translate(-50%, -25%);
    z-index: 2;
    height: 160px;
    width: 160px;

    /* display props [ flex ] */
    display: flex;
    justify-content: center;
    align-items: center;
    
    /* element styles */
    border-radius: 50%;
    
    /* 3D transform props */
    transform-style: preserve-3d;
    backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -webkit-backface-visibility: hidden;

}
.card_face .bk {
    /* display props [ flex ] ( container = 25% ) */
    width: 100%;
    height: 100%;
    flex: 35%;
    border-radius: 12px 12px 0 0;
}
.card_face .info {
    /* display props [ flex ] ( container = 75% ) */
    display: flex;
    flex: 70%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    /* element styles */
    text-align: center;
    padding: 4%;
    background: var(--mode-background);
    border-radius: 0 0 12px 12px;
    z-index: 1;
}

/* card [ face : front ] element containers */
.card_face .box,
.card_face .info,
.card_face .bk {
    /* 3D transform props */
    transform-style: preserve-3d;
    backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
}
.card .box .small {
    /* element styles */
    height: 160px;
    width: 160px;
    border-radius: 50%;
    border: 14px solid var(--mode-background);
    
    /* 3d transform props */
    transform-style: preserve-3d;
    backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
}
.box .small img {
    /* image dimensions */
    height: 100%;
    width: 100%;
    
    /* 3D transform props */
    transform-style: preserve-3d;
    backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
}
.card .back img {
    max-height: 100%;
    max-width: 100%;
    
}
.card .slideTitle {
    /* element styles */
    font-size: 2.6em;
    text-decoration: none;
    text-transform: uppercase;
    
    /* 3D transform props */
    transform-style: preserve-3d;
    transform: perspective(500px) translateZ(50px);
    transition: 0.3s ease-in;
    backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
}
.card .slideTag {
     /* element styles */
     padding-bottom: 25%; 
     font-size: 0.8rem;
     color: #a0a0a0;
     text-transform: capitalize;
 
     /* 3D transform props */
     transform-style: preserve-3d;
     transform: perspective(500px) translateZ(30px);
     backface-visibility: hidden;
     -moz-backface-visibility: hidden;
     -webkit-backface-visibility: hidden;


}
.card .small {
    /* 3D transform props */
    transform-style: preserve-3d;
    transform: perspective(1000px) translateZ(70px);
    backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
}


main button {
    /* element dimensions */
    height: 35px;
    width: 50px;
}
/* main .view {

    position: absolute;
    bottom: 2%;
    left: 50%;
    transform: translate(-50%, -2%);
    width: 100%;

    
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 120px;

    
    background: transparent;
    border: 2px solid var(--mode);
    color: var(--mode);
    font-size: 1.1rem;
    text-transform: capitalize;
    z-index: 3;
    padding: var(--sm);
    margin: var(--sm);

    
    border: 3px solid #FFF;
} */

/* control [ buttons ] container */
main .controls {
    /* position props [ absolute ] */
    position: absolute;
    bottom: 4%;
    left: 0;
    width: 100%;
    
    /* display props [ flex ] */
    display: flex;
    align-items: center;
    justify-content: space-between;

    /* element styles */
    /* background: rgba(0,0,0,0.12); */
    padding: var(--sm);

    /* dev */
    /* border: var(--wireframe); */
    
}
main .controls button {
    /* display props [ flex ] */
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 60px;

    /* element styles */
    background: transparent;
    border: 2px solid var(--mode);
    color: var(--mode);
    font-size: 1.23rem;
    font-weight: bold;
    z-index: 3;
    
    /* dev */
    /* background: red; */
}


/* animation [ phase ] props */
main .phase {
    /* phase animation */
    animation-name: phase;
    animation-duration: 1.5s;
    transition: all ease-in 1s;

    /* firefox -webkit- */
    -webkit-animation-name: phase;
    -webkit-animation-duration: 1.5s;
}

/* animation [ phase ] */
@keyframes phase {
    from{ opacity: 0.4; }
    from{ opacity: 1; }
}
@-webkit-keyframes phase {
    from{ opacity: 0.4; }
    from{ opacity: 1; }
}

/* footer component */
footer {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 100%;
    width: 100%;
    min-height: 100vh;
}
footer .elmnts {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;

    height: 100%;
    width: 100%;

    /* element styles */
    padding: var(--md);
    /* dev */
    border: var(--component);
}
footer .elmnts:nth-child(3) {
    padding: var(--md);
    /* background: red; */
}
footer .elmnts:nth-child(4) {
    justify-content: space-between;
    align-items: center;
}
/* footer [ lists ] */
footer ul {
    /* display props [ flex ] */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    width: 100%;
    /* dev */
    border: var(--wireframe);
}
footer li {
    /* display props [ flex ] */
    display: flex;
    justify-content: flex-start;
    align-items: center;
    min-height: 100px;
    
    /* element styles */
    font-size: 0.85rem;
    line-height: 1.6;
    list-style-type: none;
    margin: var(--sm);
    text-transform: capitalize;
    padding-left: var(--sm);
    
    /* dev */
    border: var(--component);
    /* background: lightskyblue; */
}
footer li button {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: transparent;
    min-height: 50px;
    min-width: 120px;

    /* element styles */
    text-transform: capitalize;
    letter-spacing: 2px;
    color: var(--mode);
    margin: var(--sm);
    
    /* dev */
    /* border: var(--wireframe); */
}
footer li button i {
    font-size: 1.2rem;
    color: var(--mode);
    padding-right: 0.4rem;
    padding-left: 0.4rem;
}
footer .top {

    border: 2px solid var(--mode);
    color: var(--mode);
    margin-top: var(--sm);
    min-width: 160px;
    
}

/* under development *//* under development *//* under development */
/* form component */
form {
    /* display props [ flex ] */
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    width: 100%;
    height: 100%;
    min-height: 40vh;

    padding: var(--sm);

    /* component styles */
    border: 2px solid var(--mode);
    color: var(--mode);
    
    /* dev */
}
form .sub {
    /* display props [ flex ] */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: var(--sm);
    height: 100%;
    width: 100%;



    /* dev */
    border: var(--debugging);
}

form .sub:nth-child(5) {
    /* align-items: flex-end; */
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

#complete {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: var(--wireframe);
    background: lightskyblue;
    height: 100%;
    width: 100%;
    min-height: 40vh;
}
#complete i {
    font-size: 1.5rem;
    padding-bottom: var(--sm);
}

form label {
    font-size: 1.14rem;
    text-transform: capitalize;
    letter-spacing: 0.1rem;
}
form input {
    /* element styles */
    letter-spacing: 0.2rem;
    text-align: center;
    height: 50px;
    /* max-width: 100%; */

    /* mode styles */
    border: 2px solid var(--mode);
    background: var(--mode-background);
    color: var(--mode);
}
form input:focus{
    /* background: var(--mode-background); */
}
form textarea {
    /* display props [ flex ] */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 125px;
    /* max-width: 80%; */

    /* element styles */
    letter-spacing: 0.2rem;
    text-align: center;
    padding:var(--sm);

    /* mode styles */
    border: 2px solid var(--mode);
    background: var(--mode-background);
    color: var(--mode);
}
form textarea:focus {
    background: var(--mode-background);

    
}
form button {
    /* display props [ flex ] */
    display: flex;
    justify-content: center;
    align-items: center;
    background: transparent;
    min-height: 50px;
    min-width: 120px;

    /* element styles */
    color: var(--mode);
    border: 3px solid var(--mode);
    text-transform: capitalize;
    letter-spacing: 2px;
}
/* form #clear {
    background: red;
}
form #submit {
    background: green;
} */


/* technical list ext links [ under dev ] */
.page_button:hover {
    cursor: pointer;
}



/* text elements */
.txt {
    font-size: 1.12rem;
    line-height: 1.6;
    padding: var(--sm);
}
.tag {
    font-size: 1.1rem;
    line-height: 1.6;
    letter-spacing: 0.1rem;
    text-transform: capitalize;
    font-style: italic;
}
.top {
    /* display props [ flex ] */
    display: flex;
    justify-content: center;
    align-items: center;
    background: transparent;
    min-height: 50px;
    min-width: 120px;

    /* element styles */
    text-transform: capitalize;
    letter-spacing: 2px;
    
    /* mode styles */
    /* background: transparent; */
    background: var(--mode-background);
    border: 3px solid var(--mode);
    color: var(--mode);
}
.top a {
    color: var(--mode);
    text-decoration: none;
}

/* darkmode props */
.darkmode {
    background: black;
    color: white;
}
.darkmode a {
    color: white;
}

/* images [ device ] elements */
.images-mobile {
    /* display [ flex ] on mobile */
    display: flex;
}
.images-desktop {
    /* display [ none ] on mobile */
    display: none;
}

/* media [ tablet + ] */
@media screen and (min-width:700px) {

    /* under development *//* under development *//* under development */
    
    .images-mobile {
        /* display [ none ] on desktop */
        display:none;
    }
    .images-desktop {
        /* display [ flex ] on desktop */
        display: flex;
    }

    /* under development *//* under development *//* under development */
   

}