/* global reset */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* global variables */
:root {
    /* spacing */
    --sm: 2%;
    --md: 5%;
    --lg: 10%;

    /* dev borders */
    --wireframe: 2px solid darkblue;
    --debugging: 2px dotted darkred;
    --component: 2px solid darkgreen;

    /* light mode variables */
    --light-mode-background: #FFF;
    --light-mode-border: 2px solid #000;
    --light-mode-color: #000;

    /* dark mode variables */
    --dark-mode-background: #000;
    --dark-mode-border: 2px solid #FFF;
    --dark-mode-color: #FFF;


    /* font style */
    --mainfont: 'Titillium Web', sans-serif;
}

/* page [ flex container ] */
#page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: var(--mainfont);
    height: 100vh;
    width: 100vw;
    position: relative;
}   

/* page wrapper */
.page {
    /* display props : grid */
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-auto-rows: minmax(100px, auto);
    height: 100vh;
    width: 100vw;

    position: relative;
}


/* nav component */
nav {
    /* [ page ] grid placement */
    grid-column: span 6;
    grid-row: span 1;

    /* display props : flex */
    display: flex;
    justify-content: space-between;
    align-items: center;



    width: 100%;
    background: rgba(0, 0, 0, 0.2);
}
nav button {
    background: transparent;
    
    height: 40px;
    width: 65px;
    margin: var(--sm);

}
nav button i {
    font-size: 1.2rem;
}

/* header component */
header {
    /* [ page ] grid placement */
    grid-column: span 6;
    grid-row: span 2;

    background: blue;
}

/* main component */
main {
    /* [ page ] grid placement */
    grid-column: span 6;
    grid-row: span 2;

    background: red;
}