@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@700&family=Poppins&display=swap');

/* CSS Reset */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --type-font: 'Poppins', sans-serif;
    --title-font: 'Cabin', sans-serif;
    --menu-font: 'Heebo', sans-serif;

    --accent-color: rgb(20, 65, 148);

    --darkest-blue: rgb(3, 3, 22);
}

.page {
    position: relative;
}

/* global container properties */
.container {
    background: var(--darkest-blue);

    /* set a container height for the element while in development phase */
    min-height: 100vh;
    /* width: 100%; */

    /* position the child content  */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    /* apply development purpose font properties */
    font-family: var(--type-font);

    /* hide the overflowing animation elements inside the container */
    overflow: hidden;
}


/* Global Title Element [ h1 ] */
h1 {
    font-size: 2.5rem;
    color: #FFF;
    text-transform: capitalize;
    text-align: left;
    font-weight: medium 500;
    font-family: var(--title-font);
}
h1 span {
    color: rgb(20, 65, 148);
}

/* Global Title Element [ h2 ] */
h2 {
    /* border: 2px solid limegreen; */

    font-size: 2.2rem;
    color: #FFF;
    text-transform: capitalize;
    text-decoration: underline;
    margin-bottom: 1rem;
    width: 100%;
    padding: 0.5rem;
}


/* Global Text Content Element Properties */
.text {
    font-size: 2rem;
    color: #FFF;
    text-align: left;
    text-align: center;
    text-align: right;
    line-height: 1.4;
    padding: 1rem;
}
.text span {
    color: var(--accent-color);
}

/* 

    Navigation Component

    Contains an un-ordered list element which contains
    the list items with internal link elements.

    Hidden to the left of the device on mobile platforms.
    Engaged with a click event via the "menu" button.

*/
nav {
    position: fixed;
    top: 0;
    left: -200vw;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    background: var(--darkest-blue);
    transition: 200ms all ease-in;
}
nav .list {
    /* display the content in the center left position of the element */
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 1rem;
    /* remove default list properties */
    list-style: none;
    height: 40%;
    width: 100%;
}
nav .items {
    width: 100%;
    padding: 1rem;
}
nav a {
    font-family: var(--menu-font);
    color: #FFF;
    font-size: 1.75rem;
    font-weight: bold;
    letter-spacing: 0.25rem;
    text-transform: capitalize;
    text-decoration: none;
}

/* Navigation Menu Button */
#menu {
    /* position the button on the top right of the device */
    position: fixed;
    top: 10px;
    right: 10px;
    height: 50px;
    width: 50px;
    z-index: 1;
    background: transparent;
    border: 1px solid #FFF;
    border-radius: 8px;
    color: #FFF;
}
#menu i {
    color: #FFF;
}

/* Global Header Component Properties */
header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 1rem;
}
#landing h2 {
    text-align: right;
}

/* Global Content Article Properties */
article {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 1rem;
}

/* Projects Specific Content Properties */
#projects .text {
    text-align: left;
}
#projects h2 {
    text-align: left;
}
#projects main {
    min-height: 100vh;
    width: 100%;
}

/* 
    Media Query For Laptop - Desktop Devices
*/
@media (min-width: 1000px) {

    /* provide a max width dimension for the semantic elements */
    header,
    article {
        max-width: 1000px;
    }
}